@import '../../../setting';

.maxst-profile {
  .maxst-profile-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    .maxst-profile-content {
      position: relative;
      width: 250px;
      height: 350px;
      margin: 0 20px 20px;
      .image-main {
        width: 100%;
        height: auto;
        h4 {
          text-align: center;
          font-weight: bold;
          line-height: 1.1;
          margin-bottom: 0;
        }
        h5 {
          text-align: center;
        }
      }
      .image-cover {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 99;
        opacity: 1;
        transition: opacity .2s ease;
          &:hover {
          opacity: 0;
        }
      }
    }
  }
}
