<template>
  <div class="maxst-profile">
    <div class="maxst-profile-wrapper">
      <div class="maxst-profile-content" v-for="member in members">
        <div class="image-main">
          <img :src="member.imgMainSrc" alt=""/>
          <h4>
            {{member.name}}
          </h4>
          <h5>
            {{member.position}}
          </h5>
        </div>
        <div class="image-cover">
          <img :src="member.imgCoverSrc" alt=""/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'profile',
    props: {
      members: {
        type: Array
      }
    },
    watch: {
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    data: function () {
      return {
      }
    },
    components: {
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "Profile";
</style>
