@import '../../setting';

#app {
  .contactus-container {
    .contactus-main {
      display: flex;
      align-items: flex-end;
      background:url(../../assets/images/maintopimg_06_contactus.jpg) 50% 50% no-repeat fixed;
      background-size: cover;
      max-height: calc-unit-rem(640px);
      @media screen and (max-width: 700px){
        background-attachment: scroll !important;
      }
    }
    .section_wrap{
      background-size: contain;
      background-repeat: no-repeat;
    }
    .section_wrap.section-A {
      //background-image: url(../../assets/images/01-contactus-01.svg);
      margin-top: calc-unit-rem(40px);
    }
    .section_wrap.section-B {
      background-image: url(../../assets/images/01-contactus-02.svg);
    }
    .contactus-section {
      margin-bottom: calc-unit-rem(100px);
      h1 {
        text-align: center;
      }
      h3 {
        max-width: calc-unit-rem(1050px);
        margin-left: auto;
        margin-right: auto;
      }

      .contactus-form {
        background-color: rgba(233, 233, 233, 0.3);
        padding: calc-unit-rem(75px) calc-unit-rem(65px);
        border: solid 1px #e9e9e9;
        border-radius: 7px;
        max-width: 640px;
        margin: 0 auto;
        label {
          font-size: calc-unit-rem(14px);
          color: #2f2f2f;
        }
        input[type=text],input[type=email], textarea {
          background-color: $white;
          border: none;
          &:focus {
            box-shadow: none;
          }
        }
        textarea {
          height: calc-unit-rem(200px);
          font-size: calc-unit-rem(16px);
          border: none;
        }
        select {
          display:  block;
          font-size: calc-unit-rem(18px);
        }
      }
    }
  }
}


