<template>
  <main class="contactus-container">
    <div class="contactus-main page-landing">
      <div class="container">
        <h1 class="left-align lang-condensed margin-bottom-90">
          <typer :content="$t('message.contactus_content_1')" :preTypeDelay=300 :typeDelay=50 :infinite=false></typer>
        </h1>
      </div>
    </div>
    <div class='section_wrap section-A container-wide'>
      <div class="contactus-section">
        <div class="container">
          <h2 class="center-align margin-bottom-50 font-32">{{$t('message.contactus_content_2')}}</h2>
          <div class="contactus-form">
            <label> Your Interest <br>
              <select v-model.lazy="sendToName">
                <option value="sdk">AR SDK</option>
                <option value="vivar">AR COLLABORATION</option>
                <option value="arguide">AR GUIDE</option>
                <option value="maxst">GENERAL ENQUIRY</option>
              </select>
            </label>
            <div role="form" class="wpcf7" id="wpcf7-f10157-p10158-o1" lang="ko-KR" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="/%ec%9d%b4%eb%a9%94%ec%9d%bc%ed%85%8c%ec%8a%a4%ed%8a%b8/#wpcf7-f10157-p10158-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" :value="emailForm._wpcf7">
                  <input type="hidden" name="_wpcf7_version" value="5.0.1">
                  <input type="hidden" name="_wpcf7_locale" value="ko_KR">
                  <input type="hidden" name="_wpcf7_unit_tag" :value="emailForm._wpcf7_unit_tag">
                  <input type="hidden" name="_wpcf7_container_post" value="10158">
                  <input type="hidden" name="lang" value="en">
                </div>
                <p>
                  <label> Your Name (required)<br>
                    <span class="wpcf7-form-control-wrap your-name">
                      <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                      <span role="alert" class="wpcf7-not-valid-tip red-text"></span>
                    </span>
                  </label>
                </p>
                <p>
                  <label>Your Email (required)<br>
                    <span class="wpcf7-form-control-wrap your-email">
                     <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="">
                      <span role="alert" class="wpcf7-not-valid-tip red-text"></span>
                      </span>
                  </label>
                </p>
                <p>
                  <label>Subject<br>
                    <span class="wpcf7-form-control-wrap your-subject">
                      <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="">
                     <span role="alert" class="wpcf7-not-valid-tip red-text"></span>
                    </span>
                  </label>
                </p>
                <p>
                  <label>Your Message<br>
                    <span class="wpcf7-form-control-wrap your-message">
                      <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder=""></textarea>
                      <span role="alert" class="wpcf7-not-valid-tip red-text"></span>
                     </span>
                  </label>
                </p>
                <p class="center-align">
                  <button type="button" class="maxst_button_mint" @click="sendEmail($event)">Send</button>
                  <span class="ajax-loader"></span>
                </p>
                <div class="wpcf7-response-output wpcf7-display-none">
                  <p class="color-44CED3">{{message}}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='section_wrap section-B container-wide'>
      <section class="arcollaboration-section">
        <div class="container">
          <h1 class="center-align margin-bottom-50">
            WE ARE HERE!
          </h1>
          <h3 class="center-align">
            {{$t('message.contactus_content_3')}}
          </h3>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import Typer from '../../components/Utilities/Typer/Typer.vue';

  export default {
    name: 'contactus',
    metaInfo: {
      title: 'Contact Us.',
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: 'We’d always love to hear from you' }
      ]
    },
    data () {
      return {
        sendToName: 'maxst',
        message: '',
        emailFormDic: {
          'maxst': {
            'url': '/wp-json/contact-form-7/v1/contact-forms/10157/feedback',
            '_wpcf7': '10157',
            '_wpcf7_unit_tag': 'wpcf7-f10157-p10158-o1'
          },
          'arguide': {
            'url': '/wp-json/contact-form-7/v1/contact-forms/10157/feedback',
            '_wpcf7': '10157',
            '_wpcf7_unit_tag': 'wpcf7-f10157-p10158-o1'
          },
          'sdk': {
            'url': '/wp-json/contact-form-7/v1/contact-forms/10200/feedback',
            '_wpcf7': '10200',
            '_wpcf7_unit_tag': 'wpcf7-f10200-p10158-o3'
          },
          'vivar': {
            'url': '/wp-json/contact-form-7/v1/contact-forms/10201/feedback',
            '_wpcf7': '10201',
            '_wpcf7_unit_tag': 'wpcf7-f10201-p10158-o2'
          }
        }
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        const previousComponent = from.path.slice(from.path.lastIndexOf('/') + 1);
        switch (previousComponent) {
          case 'arsdk':
            vm.sendToName = 'sdk';
            break;
          case 'arcollaboration':
            vm.sendToName = 'vivar';
            break;
          case 'arguide':
            vm.sendToName = 'arguide';
            break;
          default:
            vm.sendToName = 'maxst';
            break;
        }
      })
    },
    mounted () {
      this.$nextTick(() => {
      })
    },
    computed: {
      emailForm: function () {
        return this.emailFormDic[this.sendToName];
      }
    },
    methods: {
      setFormInValidateMessage (fields) {
        fields.forEach((field) => {
          $(field.into).find('.wpcf7-not-valid-tip').text(field.message);
        })
      },
      sendEmail (event) {
        const $button = $(event.target);
        $button.attr({'disabled': true});
        $button.addClass('loading');
        const formData = $('form')[0];
        const data = new FormData(formData);
        const self = this;

        this.$http.post(this.emailForm.url, data).then((result) => {
          let data = result.data;
          if (data.status === 'validation_failed') {
            self.message = data.message;
            let invalidFields = data.invalidFields;
            self.setFormInValidateMessage(invalidFields);
          }
          if (data.status === 'mail_sent') {
            self.message = data.message;
            $('.wpcf7-not-valid-tip').text('');
          }
          $('input, textarea').val('');
          $button.removeClass('loading');
          $button.attr({'disabled': false});
        });
      }
    },
    components: {
      Typer
    }
  }
</script>

<style lang="scss">
  @import "contactus.scss";
</style>
