@import '../../setting';

#app {
  .arguide-container {
    .arguide-main {
      background: url(../../assets/images/poster_03_guide.jpg) center no-repeat;
      background-size: cover;
    }
    .section_wrap{
      background-size: contain;
      background-repeat: no-repeat;
    }
    .section_wrap.section-A {
      background-image: url(../../assets/images/01-ar-guide-01.svg);

      .icon_box_v_1 {
        padding-left: calc-unit-rem(90px);
        padding-right: calc-unit-rem(90px);
        @media screen and (max-width: 700px) {
          padding-left: calc-unit-rem(30px);
          padding-right: calc-unit-rem(30px);
        }
        .title {
          margin-top: calc-unit-rem(30px);
        }
        .content {
          text-align: left;
        }
      }
    }
    .section_wrap.section-B {
      background-image: url(../../assets/images/01-ar-guide-02.svg);
    }
    .section_wrap.section-C {
      background-image: url(../../assets/images/01-ar-guide-03.svg);
    }
    .section_wrap.section-D {
      background-image: url(../../assets/images/01-ar-guide-04.svg);
    }
    .section_wrap.section-E {
      background-image: url(../../assets/images/01-ar-sdk-05.svg);
    }
    .arguide-section {
      margin-bottom: calc-unit-rem(100px);
      h1 {
        text-align: center;
      }
      h3 {
        max-width: calc-unit-rem(1050px);
        margin-left: auto;
        margin-right: auto;
      }
      .arguide-section__button {
        text-align: center;
      }
      .icon_box_v_1 {
        padding-left: calc-unit-rem(50px);
        padding-right: calc-unit-rem(50px);
      }
      .text_box_v_2::before {
        background-color: $light-sky;
      }
      .tab-box {
        h4 {
          color: $light-sky;
          border-color: $light-sky;
        }
        .tab-box__btn-list {
          li{
            &.active, &:hover {
              background-color: $light-sky;
            }
          }
        }
        .tab-box__img {
          border-color: $light-sky;
        }
        .tab-box__content {
          border-color: $light-sky;
        }

        .text_box_v_2::before {
          background-color: $light-sky;
        }
      }
    }
  }
}


