<template>
  <main class="arguide-container">
    <div class="arguide-main  page-landing">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        poster="../../assets/images/poster_03_guide.jpg"
      >
        <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/ar_guide_01.mp4" type="video/mp4">
      </video>
      <div class="video-bg-content">
        <div class="container">
          <h1 class="left-align">
            <typer :content="$t('message.arguide_content_1')" :preTypeDelay=500 :typeDelay=50 :infinite=false></typer>
          </h1>
          <p v-html="$t('message.arguide_content_1_1')">
          </p>
        </div>
      </div>
    </div>
    <div class='section_wrap section-A container-wide' id="arguide-one">
      <section class="arguide-section">
        <div class="container">
          <h1 class="parallax-stagger" v-html="$t('message.arguide_content_2')">
          </h1>
          <small class="center-align margin-bottom-50 parallax-stagger" v-html="$t('message.arguide_content_2_1')">
          </small>
          <div class="row margin-bottom-80">
            <div class="col l6 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon_we_offer_you_01.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_3_1')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_3_1_1')">
                </p>
              </div>
            </div>
            <div class="col l6 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon_we_offer_you_02.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_3_2')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_3_2_1')">
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col l6 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon_we_offer_you_03.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_4_1')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_4_1_1')">
                </p>
              </div>
            </div>
            <div class="col l6 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon_we_offer_you_04.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_4_2')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_4_2_1')">
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-B container-wide' id="arguide-two">
      <section class="arguide-section">
        <div class="container">
          <h1 class="margin-bottom-50 parallax-stagger" v-html="$t('message.arguide_content_6')">
          </h1>
          <div class="row margin-bottom-60">
            <div class="col l4 offset-l2 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-arguide-features-01.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_6_1')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_6_1_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-arguide-features-02.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_6_2')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_6_2_1')">
                </p>
              </div>
            </div>
          </div>
          <div class="row margin-bottom-60">
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-arguide-features-03.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_6_3')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_6_3_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-arguide-features-04.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_6_4')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_6_4_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-arguide-features-05.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arguide_content_6_5')">
                </h3>
                <p class="content" v-html="$t('message.arguide_content_6_5_1')">
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-C container-wide' id="arguide-three">
      <section class="arguide-section">
        <div class="container">
          <h1 class="parallax-stagger" v-html="$t('message.arguide_content_7')">
          </h1>
          <small class="center-align margin-bottom-50 parallax-stagger" v-html="$t('message.arguide_content_7_1')">
          </small>
          <div class="arguide-tab-section parallax-stagger">
            <tab-box :content="tabContent" class="tab-light-blue"></tab-box>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-D container-wide' id="arguide-four">
      <section class="arguide-section">
        <div class="container">
          <h1 class="margin-bottom-90 parallax-stagger" v-html="$t('message.arguide_content_8')">
          </h1>
          <div class="row">
            <div class="col l12 s12">
              <div class="text_box_v_2 parallax-stagger">
                <h4 class="title" v-html="$t('message.arguide_content_8_1')">
                </h4>
                <router-link :to="'/' + this.$i18n.locale + '/contactus'" class="waves-effect waves-light maxst_button_white light-sky" exact >
                  CONTACT US
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import TabBox from '../../components/Utilities/TabBox/Tabbox.vue';
  import Typer from '../../components/Utilities/Typer/Typer.vue';
  import tabContent from './data.json';
  import {TweenMax, TimelineMax, Power1} from 'gsap';
  import ScrollMagicFactory from '../../components/Utilities/parallaxWithTweenMax';

  export default {
    name: 'arguide',
    metaInfo: {
      title: 'AR Manual solution facilitating an effective and innovative work process for installation / repair / usage.',
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: 'Introduce the AR GUIDE: MAXST AR Manual solution and bring innovation to your work process. After the introduction of the solution, you can create and manage AR content for yourself.' },
        {
          'vmid': 'og:title',
          'property': 'og:title',
          'content': 'AR Manual solution facilitating an effective and innovative work process for installation / repair / usage.',
          'template': chunk => `MAXST | - ${chunk}` // or as string template: '%s - My page'
        },
        {
          'vmid': 'og:description',
          'property': 'og:description',
          'content': 'Introduce the AR GUIDE: MAXST AR Manual solution and bring innovation to your work process. After the introduction of the solution, you can create and manage AR content for yourself.'
        }
      ]
    },
    data () {
      return {
        tabContent: tabContent,
        tabImages: [
          require('../../assets/images/img-ar-guide-01.jpg'),
          require('../../assets/images/img-ar-guide-02.jpg'),
          require('../../assets/images/img-ar-guide-03.jpg')
        ],
        isMobile: false
      }
    },
    mounted () {
      this.$nextTick(() => {
        ScrollMagicFactory.init();
        this.isMobile = this.$helpers.disableVideoOnMobile();
        if (this.isMobile === false) {
          this.setScrollMagicAni();
        }
      });
    },
    methods: {
      setScrollMagicAni () {
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        const tl3 = new TimelineMax();
        const tl4 = new TimelineMax();
        tl1.add(TweenMax.from('#arguide-one', 1, {yPercent: 15, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#arguide-one .parallax-stagger', 0.5, {yPercent: 15, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl2.add(TweenMax.from('#arguide-two', 2, {yPercent: 25, ease: Power1.easeOut}));
        tl2.add(TweenMax.staggerFrom('#arguide-two .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl3.add(TweenMax.from('#arguide-three', 2, {yPercent: 25, ease: Power1.easeOut}));
        tl3.add(TweenMax.staggerFrom('#arguide-three .parallax-stagger', 0.5, {yPercent: 10, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl4.add(TweenMax.from('#arguide-four', 2, {yPercent: 25, ease: Power1.easeOut}));
        tl4.add(TweenMax.staggerFrom('#arguide-four .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arguide-one',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arguide-two',
            tween: tl2
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arguide-three',
            tween: tl3
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arguide-four',
            tween: tl4
          }
        ];
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Typer,
      TabBox
    }
  }
</script>

<style lang="scss">
  @import "ARGuide.scss";
</style>
