<template>
  <footer class="nav-footer">
    <div class="nav-footer-content container">
      <div class="nav-footer-links">
        <div class="row">
          <div class="col l2 s12">
            <h4>Company</h4>
            <ul>
              <li>
                <router-link :to="'/' + this.$i18n.locale + '/aboutus'" class="" exact >
                  ABOUT US
                </router-link>
              </li>
              <li>
                <router-link :to="'/' + this.$i18n.locale + '/contactus'" class="" exact >
                  CONTACT US
                </router-link>
              </li>
              <li><a href="https://medium.com/maxst" target="_blank" role="link">BLOG</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h4>AR App Development</h4>
            <ul>
              <li>
                <a :href="'https://developer.maxst.com/?lang=' + this.$i18n.locale" target="_blank" role="link">developer.maxst.com</a>
              </li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h4>AR Remote Support</h4>
            <ul>
              <li><a :href="'https://vivar.me/?lang='  + this.$i18n.locale" target="_blank" role="link">vivar.me</a></li>
            </ul>
          </div>
          <div class="col l2 s12 offset-l2">
            <div class="nav-footer-links__social">
              <a href="https://www.linkedin.com/company/maxst" class="waves-effect waves-light" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="https://www.facebook.com/ARmaxst" class="waves-effect waves-light" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.youtube.com/ARmaxst" class="waves-effect waves-light" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-divider-horizontal"></div>
      <div class="nav-footer-copyright">
        <img src="../../assets/images/maxst-logo-horizontal-gray.png">
        <div class="copyright color-B2B2B2">
          <span>© 2010-2018 MAXST Co., Ltd. All Rights Reserved.</span>
          <a href="#privacy-policy" data-target="privacy-policy" class="privacy-policy modal-trigger" role="button">Privacy Policy</a>
        </div>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="privacy-policy" class="modal">
      <div class="modal-content">
        <pre v-html="$t('message.privacy_policy')"></pre>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'Footer',
    props: {
    },
    watch: {
    },
    computed: {
    },
    data () {
      return {
      }
    },
    beforeMount () {

    },
    mounted () {
      this.$nextTick(() => {
        $('#privacy-policy').modal();
      });
    }
  }
</script>

<style lang="scss">
  @import "Footer";
</style>
