@import '../../setting.scss';
#app {
  footer {
    margin-top: calc-unit-rem(200px);
  }
  .nav-footer {
    background-color: #161616;
    color: $white;

    pre {
      background-color:#ECECEC;
      padding: calc-unit-rem(20px);
      white-space: pre-wrap;
      color: $black;
    }
    ul {
      li {
        padding: 3px 0;
      }
    }
    a {
      color: inherit;
    }
    a:hover {
      text-decoration: underline;
    }
    .nav-footer-links,
    .nav-footer-copyright
    {
      padding: calc-unit-rem(25px) 0;
    }
    .nav-footer-links {
      h4 {
        color: $mint;
        text-align: left;
      }
      a {
        @media screen and (max-width: 700px){
          font-size: 1.5rem;
        }

      }

      .nav-footer-links__social {
        margin-top: 1.52rem;
        a {
          font-size: 18px;
          padding: 0 15px;
        }
      }
    }
    .nav-footer-copyright {
      text-align: center;
      .copyright {
        position: relative;
        span {

          @media screen and (max-width: 700px){
            display: block;
          }
        }
      }
    }
    .footer-divider-horizontal {
      border-bottom: 1px solid #4d4d4d;
      margin: 0 auto;
    }

    .footer-divider-dynamic, .footer-divider-vertical {
      border-right: 1px solid #4d4d4d;
      margin-left: 20px;
      margin-right: 20px;
    }
    .privacy-policy {
      position: absolute;
      right: 0;
      top:0;

      @media screen and (max-width: 700px){
        position: relative;
        display: inline-block;
        padding: 5px;
      }
    }
  }
}
