<template>
  <div class="navbar">
    <nav>
      <!--dropdown structure-->
      <ul id="dropdown1" class="dropdown-content">
        <li>
          <router-link :to="'/' + switchLanguage + '/casestudies/virtualguide'" exact>
            VIRTUAL GUIDE
          </router-link>
        </li>
        <li>
          <router-link :to="'/' + switchLanguage + '/casestudies/remotesolution'" exact>
            REMOTE SOLUTION
          </router-link>
        </li>
        <li>
          <router-link :to="'/' + switchLanguage + '/casestudies/kiamanual'" exact>
            KIA MANUAL
          </router-link>
        </li>
        <li>
          <router-link :to="'/' + switchLanguage + '/casestudies/smartfactory'" exact>
            SMART FACTORY
          </router-link>
        </li>
      </ul>
      <div class="nav-wrapper container clearfix">
        <span class="brand-logo">
          <router-link :to="'/' + (switchLanguage === 'ko' ? '' : switchLanguage)" class="">
            <img src="../../assets/images/main-maxst-logo-horizontal.png" alt="">
          </router-link>
        </span>
        <a href="#" data-target="mobile-demo" data-activates="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right">
          <li class="hide-on-med-and-down">
            <router-link :to="'/' + switchLanguage + '/arsdk'" exact>
              <span>AR SDK</span>
            </router-link>
          </li>
          <li class="hide-on-med-and-down">
            <router-link :to="'/' + switchLanguage + '/arcollaboration'" exact>
              <span>AR COLLABORATION</span>
            </router-link>
          </li>
          <li class="hide-on-med-and-down">
            <router-link :to="'/' + switchLanguage + '/arguide'" exact>
              <span>AR GUIDE</span>
            </router-link>
          </li>
          <li class="hide-on-med-and-down">
            <router-link :to="'/' + switchLanguage + '/casestudies'" exact>
              <span>CASE STUDIES</span>
            </router-link>
          </li>
          <li class="hide-on-med-and-down">
            <a href="https://medium.com/maxst" target="_blank" role="link">BLOG</a>
          </li>
          <li class="language-btn english" @click="changeLanguage('en')">
            <router-link :to="'/en/' + this.currentUrl">
              <span class="language option english" :class="{active: $i18n.locale === 'en'}">EN</span>
            </router-link>
          </li>
          <li class="language-btn korea" @click="changeLanguage('ko')">
            <router-link :to="'/ko/' + this.currentUrl" >
              <span class="language option korea" :class="{active: $i18n.locale === 'ko'}">KR</span>
            </router-link>
          </li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
          <li>
            <router-link :to="'/' + switchLanguage + '/'" exact>
              HOME
            </router-link>
          </li>
          <li>
            <router-link :to="'/' + switchLanguage + '/arsdk'" exact>
              AR SDK
            </router-link>
          </li>
          <li>
            <router-link :to="'/' + switchLanguage + '/arcollaboration'" exact>
              AR COLLABORATION
            </router-link>
          </li>
          <li>
            <router-link :to="'/' + switchLanguage + '/arguide'" exact>
              AR GUIDE
            </router-link>
          </li>
          <li>
            <router-link :to="'/' + switchLanguage + '/casestudies'" exact>
              CASE STUDIES
            </router-link>
          </li>
          <li>
            <router-link :to="'/' + switchLanguage + '/aboutus'" exact>
              ABOUT US
            </router-link>
          </li>
          <li>
            <router-link :to="'/' + switchLanguage + '/contactus'" exact>
              CONTACT US
            </router-link>
          </li>
          <li>
            <a href="https://medium.com/maxst" target="_blank" role="link">BLOG</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        scrollPosition: null,
        currentComponent: '',
        switchLanguage: 'en'
      }
    },
    computed: {
      currentUrl: function () {
        return this.$route.path.split('/').slice(2).join('/')
      }
    },
    mounted () {
      $('.dropdown-trigger').dropdown({ hover: false });
      $('.sidenav-trigger').sideNav({
        closeOnClick: true
      });
    },
    destroyed () {
    },
    methods: {
      changeLanguage (lang) {
        this.switchLanguage = lang;
        this.$i18n.locale = this.switchLanguage;
        window.localStorage.setItem('lang', this.switchLanguage);
        this.currentComponent = this.$route.path.split('/')[2]
      }
    }
  }

</script>

<style lang="scss">
  @import "Header";
</style>
