@import '../../setting';

#app {
  nav {
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    z-index: 99;
    a:hover {
      background-color: transparent;
    }
    .brand-logo a{
      display: inline-block;
      padding: 0px 15px;
      img {
        max-width: 150px;
        max-height: 40px;
        vertical-align: middle;
        @media screen and (max-width: 700px) {
          max-width: 122px;
          max-height: 32px;
        }
      }
    }
    .language-btn a{
      padding-left: 0px;
      padding-right: 0px;
      .language {
        position: relative;
        padding: 0 10px;
        line-height: 1;
        &.english:before {
          content: '';
          width: 1px;
          height: 12px;
          background-color: $white;
          position: absolute;
          top: calc(50% - 6px);
          right: 0;
        }
        @media screen and (max-width: 700px) {
          font-size: 12px;
        }
      }
    }
    .router-link-exact-active,
    .router-link-active {
      span{
        &:not(.language){
          color: $mint;
          padding-bottom: 4px;
          border-bottom: 4px solid $mint;
        }
      }
    }
    .language.active {
      color: $mint;
    }
    @media only screen and (min-width: 601px) {
      background-color: transparent;
      height: 100px;
      line-height: 100px;
      .nav-wrapper i,
      a.sidenav-trigger,
      a.sidenav-trigger i
      {
        height: 100px !important;
        line-height: 100px !important;
      }
      p, span, i {
        color: #fff;
      }
      a:hover {
        span {
          color: $mint;
        }
      }
      .brand-logo {
      }
      ul {
        li:nth-child(5) {
          padding-right: calc-unit-rem(20px);
        }
      }
    }
    @media only screen and (max-width: 700px) {
      position: relative;
      p, span, i {
        color: #b2b2b2;
      }
      .sidenav {
        width: 250px;
        li > .router-link-exact-active {
          color: $mint;
        }
      }
    }
  }
}
