<template>
  <div class="equip-list container">
    <div class="row">
      <div class="col-md-12">
        <div class="margin-bottom-50 clearfix">
          <button type="button" class="btn btn-primary pull-right" @click="modalActiveFunc('create')">+ 설비 추가</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>설비명</th>
              <th>등록일</th>
              <th>수정일</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
          </thead>
            <tbody>
            <tr v-for="item in equipList">
              <td>{{item.Id}}</td>
              <td>{{item.Name}}</td>
              <td>{{ $helpers.dateFormat(item.CreateDT, 'yyyy-MM-dd')}}</td>
              <td>{{ $helpers.dateFormat(item.UpdateDT, 'yyyy-MM-dd')}}</td>
              <td><a @click="modalActiveFunc('edit', item)" role="button">수정</a></td>
              <td><a @click="deleteEquipModel(item)" role="button">삭제</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <modal :show="showModal"  @close="showModal = false" :model="equipModel" :mode="mode" @update="updateModal()">
    </modal>
  </div>
</template>

<script>
  import Vue from 'vue'
  import modal from '../Modal/modal.vue'
  import generalHelpers from '../helper'

  Vue.use(generalHelpers);
  export default {
    name: 'List',
    props: {
      factoryId: {
        type: String,
        required: true
      },
      equipList: {
        type: Array,
        required: true,
        twoWay: true
      }
    },
    watch: {
      factoryId (newVal, oldVal) {
        console.log('Prop FactoryId changed: ', newVal, ' | was: ', oldVal)
        this.equipModel.FactoryId = newVal;
      }
    },
    data: function () {
      return {
        loading: false,
        showModal: false,
        equipModel: {
          FactoryId: this.factoryId,
          Id: '',
          CreateDT: '',
          UpdateDT: '',
          Name: '',
          Desc: '',
          YoutubeLink: '',
          ImgRscFileURL: '',
          AndArRscFileURL: '',
          RefTag: ''
        },
        mode: ''
      }
    },
    beforeMount () {
    },
    mounted () {
      this.$nextTick(function () {
      });
    },
    methods: {
      updateModal () {
        this.showModal = false;
        this.$emit('update');
      },
      modalActiveFunc (mode, item = this.equipModel) {
        this.showModal = true;
        this.mode = mode;
        this.equipModel = item;
      },
      deleteEquipModel (item) {
        if (window.confirm('정말 삭제 하시겠습니까?')) {
          this.$http.delete(`Equipments/${item.Id}`).then((result) => {
            if (result.data > 0) {
              this.$emit('update');
            }
          });
        }
      }
    },
    beforeDestroy () {
    },
    components: {
      modal
    }
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import 'index.css';
</style>

