@import '../../../setting';

#app {

  .tab-light-mint {
    $tab-color: #a9eae7 !global;
  }
  .tab-light-blue {
    $tab-color: $light-sky !global;
  }
  .tab-mint {
    $tab-color: $mint !global;
  }
  .tab-box {
    display: flex;
    justify-content: center;
    padding: 0 calc-unit-rem(40px);

    h4 {
      color: $tab-color;
      margin: 0 0 calc-unit-rem(5px);
      border-bottom: 4px solid $tab-color;
      line-height: 1.2;
      padding-bottom: 8px;
      // text-transform: uppercase;
    }
    .tab-box__btn-list {
      flex: 1 1 auto;
      max-width: calc-unit-rem(110px);
      max-height: calc-unit-rem(400px);
      overflow: auto;
      ul {
        margin:0;
        li {
          text-align: center;
          padding: calc-unit-rem(8px) 0;
          color: #b2b2b2;
          cursor: pointer;
          a {
            color: inherit;
            cursor: pointer;
          }
          &:hover,
          &.active  {
            background-color: $tab-color;
            color: $white;
          }
        }
      }
      select {
        display: block;
      }
    }
    .tab-box__img {
      flex: 1 1 auto;
      max-width: calc-unit-rem(610px);
      border: solid 10px $tab-color;
      img {
        width:100%;
        height: 100%;
      }
    }
    .tab-box__content {
      flex: 1 1 auto;
      max-width: calc-unit-rem(300px);
      padding:calc-unit-rem(20px) calc-unit-rem(27px);
      border: solid 10px $tab-color;
      border-left: none;
      max-height: calc-unit-rem(425px);
      overflow: auto;
    }
    &.mobile {
      .tab-box__btn-list {
        max-width: none;
      }
      .tab-box__img {
        border: solid 5px $tab-color;
      }
      .tab-box__content {
        flex: 1 1 0;
        max-width: 435px;
        margin-left: 0;
        border: solid 4px $tab-color;
        border-top: none;
      }
    }
  }
}
/* end tabbox css */
