<template>
  <div>
    <div class="tab-box hide-on-small-only">
      <div class="tab-box__btn-list">
        <ul>
          <li :class="{active : currentTabIdx === index}" v-for="(item, index) in content" @click="changeTabButton(index)">
            <a >{{$t(item.tab)}}</a>
          </li>
        </ul>
      </div>
      <div class="tab-box__img" v-for="(item, index) in content" v-show="currentTabIdx === index">
        <img :src ="item.imageSrc" alt="">
      </div>
      <div class="tab-box__content" v-for="(item, index) in content" v-show="currentTabIdx === index">
        <h4 class="font-32">{{$t(item.tab)}}</h4>
        <p>{{$t(item.content)}}</p>
      </div>
    </div>
    <div class="tab-box mobile hide-on-med-and-up show-on-small">
      <div class="tab-box__btn-list">
        <select v-model="currentTabIdx">
          <option v-for="(item, index) in content" :value="index">
            {{$t(item.tab)}}
          </option>
        </select>
      </div>
      <div class="tab-box__img" v-for="(item, index) in content" v-show="currentTabIdx === index">
        <img :src="item.imageSrc" alt="">
      </div>
      <div class="tab-box__content" v-for="(item, index) in content" v-show="currentTabIdx === index">
        <h4 class="font-32">{{$t(item.tab)}}</h4>
        <p>{{$t(item.content)}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TabBox',
    props: ['content'],
    watch: {
    },
    data: function () {
      return {
        currentTabIdx: 0
      }
    },
    computed: {
    },
    methods: {
      changeTabButton (index) {
        this.currentTabIdx = index;
      }
    },
    components: {
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "Tabbox.scss";
</style>
