@import '../../setting';

#app {
  .home-container {
    .home-main {
      background: url(../../assets/images/poster_00_home.jpg) center no-repeat;
      background-size: cover;
      .video-bg-content {
        align-items: center;
        background: linear-gradient(to bottom, rgba(30, 50, 148, 0.4), rgba(0, 0, 0, 0.4));
        background: -ms-linear-gradient(top, rgba(30, 50, 148, 0.4), rgba(0, 0, 0, 0.4));
      }
      .VueCarousel {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        .VueCarousel-pagination {
          width: 100%;
          text-align: center;
          position: absolute ;
          left: 0;
          bottom: calc-unit-rem(128px);;
        }
        .slide {
          width: 100%;
          height: 100vh;

          @media (max-width: 700px) {
            height: 100%;
          }

          .slide-content {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .slide.slide-A {
          video {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
        .slide.slide-B {
          background: url(../../assets/images/home-main-background.jpg);
          background-size: cover;
        }
        .slide.slide-C {
          background: url(../../assets/images/home-main-background2.jpg);
          background-size: cover;
        }
      }
      .explore {
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -18px;
        display: inline-block;
        z-index: 92;

        .mouse {
          position: relative;
          display: block;
          width: 36px;
          height: 54px;
          margin: 0 auto 20px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-width: 2px;
          border-style: solid;
          border-color: #fff;
          border-radius: 28px;

          &:before {
            content: "";
            display: block;
            width: 4px;
            height:4px;
            border-radius: 50%;
            background-color: $white;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            animation: mouse 1s linear infinite;
          }

          @keyframes mouse {
            50% {
              top: 70%;
            }
            100% {
              top: 20%;
            }
          }
        }
      }
    }

    #two {
      .home-section {
        padding-top: calc-unit-rem(100px);
      }
    }
    .home-section {
      &.float-section {
        padding: 0;
        @media (max-width: 700px) {
          text-align: center;
          padding-bottom: 0;
        }
      }
      .home-section__float {
        background: $white;
        margin: 0 auto;
        max-width: calc-unit-rem(1087px);
        box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
        transform: translate3d(0, calc-unit-rem(-50px), 0);
        padding: calc-unit-rem(41px) calc-unit-rem(60px) calc-unit-rem(20px);
        .home-btn-more {
          color: $black;
          line-height: calc-unit-rem(50px);
          i {
            vertical-align: middle;
          }
          &:hover {
            color: $mint;
          }
        }
        .news-list {
          ul li {
            padding: calc-unit-rem(15px);
            border-top: 1px solid #ececec;

            &:first-child {
              border-top: none;
            }
          }
          a:hover {
            text-decoration: underline;
          }
          @media (max-width: 700px) {
            li {
              text-align: left;
            }
          }
        }
        h1 {
          line-height: 1;
          font-size: calc-unit-rem(52px);
        }

        @media (max-width: 700px) {
          padding: 0;
          box-shadow: none;
          transform: translate3d(0, 0, 0);;
        }
      }

      @media (min-width: 700px) {
        .home-section__video-desc {
          .col:nth-of-type(1) {
            padding-right: calc-unit-rem(30px);
          }
          .col:nth-of-type(2) {
            padding-left: calc-unit-rem(30px);
          }
        }
      }
      @media (max-width: 700px) {
        .mobile-order1 {
          order:1;
        }
        .mobile-order2 {
          order:2;
        }
        .home-section__video-desc {
        }
      }
      .home-section__links {
        position: relative;
        .maxst_button_white__width-420 {
          position: relative;
          left: 0;
          top: 0;
          &.overlay {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            span {
              font-size: calc-unit-rem(24px);
            }
            .btn_text:before {
              height: 0;
            }
            &:hover {
              opacity: 1;
              backface-visibility: hidden;
            }
          }
        }
      }
    }
  }
}


