<template>
  <main class="home-container">
    <div class="home-main  page-landing">
      <video class=""
             autoplay="autoplay"
             loop="loop"
             muted="muted"
             poster="../../assets/images/poster_00_home.jpg"
      >
        <!--data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=L0Q0wYpVqU4"}] }' >-->
        <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/home_main_01.mp4" type="video/mp4">
      </video>
      <div class="video-bg-content slide-content">
        <div class="container">
          <h1 class="">
            <typer :content="$t('message.home_content_1')" :preTypeDelay=150 :typeDelay=50 :infinite=false></typer>
            <typer :content="$t('message.home_content_1_1')" :preTypeDelay=1000  :typeDelay=50 :infinite=false></typer>
          </h1>
          <p v-html="$t('message.home_content_1_2')">
          </p>
        </div>
      </div>
      <a href="#" class="explore hide-on-small-only" @click="funcAutoScroll"><span class="mouse"></span></a>
    </div>
    <div class='section_wrap' id="one">
      <section class="home-section float-section">
        <div class="container">
          <div class="home-section__float" id="auto-scroll">
            <a href="https://medium.com/maxst" target="_blank" role="link" class="home-btn-more font-20 right">More<i class="material-icons">keyboard_arrow_right</i></a>
            <h1 class="margin-bottom-30" v-html = "$t('message.home_content_2')">
            </h1>
            <div class="news-list">
              <ul>
                <li>
                  <a href="https://medium.com/maxst/maxst-will-be-at-awe-2018-san-francisco-11ed4cef14b1" class="color-646464 " target="_blank" role="link">
                    MAXST will be at AWE 2018 San Francisco!
                  </a>
                  <time datetime="2018-05-22" class="right">2018-05-22</time>
                </li>
                <li>
                  <a href="https://medium.com/maxst/released-maxst-ar-sdk-v3-5-eaa19b9099f9" class="color-646464 " target="_blank" role="link">Released MAXST AR SDK v3.5
                    Support iOS Metal and SceneKit & Added Marker Tracker Feature
                  </a>
                  <time datetime="2018-03-19" class="right">2018-04-30</time>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap' id="two">
      <section class="home-section" id="video-section">
        <div class="container">
          <div class="row valign-wrapper home-section__video-desc">
            <div class="col l8 s12 parallax-stagger">
              <video id="video1"
                     loop="loop"
                     muted="muted"
                     preload="auto"
                     width="100%"
                     height="100%"
                     poster="../../assets/images/poster_arsdk.jpg"
              >
                <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/home_ar_sdk.mp4" type="video/mp4">
              </video>
            </div>
            <div class="col l4 s12">
              <div class="text_box_v_1 left-align">
                <h1 class="title  color-44CED3 parallax-stagger" v-html="$t('message.home_content_2_1')"></h1>
                <P class="content parallax-stagger" v-html="$t('message.home_content_2_1_1')">
                </P>
                <div class="button-block parallax-stagger">
                  <router-link :to="'/' + this.$i18n.locale + '/arsdk'" class="waves-effect waves-light maxst_button_white mint" exact >
                    MORE
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap' id="three">
      <section class="home-section">
        <div class="container">
          <div class="row valign-wrapper home-section__video-desc">
            <div class="col l4 s12 mobile-order2">
              <div class="text_box_v_1 right-align">
                <h1 class="title parallax-stagger" v-html="$t('message.home_content_2_2') "></h1>
                <P class="content parallax-stagger" v-html="$t('message.home_content_2_2_1')" >
                </P>
                <div class="button-block parallax-stagger">
                  <router-link :to="'/' + this.$i18n.locale + '/arcollaboration'" class="waves-effect waves-light maxst_button_white light-mint" exact >
                    MORE
                  </router-link>
                </div>
              </div>
            </div>
            <div class="col l8 s12 mobile-order1 parallax-stagger">
              <video id="video2"
                     loop="loop"
                     muted="muted"
                     preload="auto"
                     width="100%"
                     height="100%"
                     poster="../../assets/images/poster_arcolla.jpg"
              >
                <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/home_ar_collaboration.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap' id="four">
      <section class="home-section">
        <div class="container">
          <div class="row valign-wrapper home-section__video-desc">
            <div class="col l8 s12  parallax-stagger">
              <video id="video3"
                     loop="loop"
                     muted="muted"
                     preload="auto"
                     width="100%"
                     height="100%"
                     poster="../../assets/images/poster_arguide.jpg"
              >
                <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/home_ar_guide.mp4" type="video/mp4">
              </video>
            </div>
            <div class="col l4 s12">
              <div class="text_box_v_1 left-align">
                <h1 class="title color-8ADEFF parallax-stagger" v-html="$t('message.home_content_2_3')"></h1>
                <P class="content parallax-stagger" v-html="$t('message.home_content_2_3_1')">
                </P>
                <div class="button-block parallax-stagger">
                  <router-link :to="'/' + this.$i18n.locale + '/arguide'" class="waves-effect waves-light maxst_button_white light-sky" exact >
                    MORE
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap' id="five">
      <section class="home-section center-align">
        <div class="container">
          <h1 class="parallax-stagger" v-html="$t('message.home_content_3')"></h1>
          <small class="parallax-stagger" v-html="$t('message.home_content_3_1')"></small>
          <div class="row">
            <div class="col l4 s12 parallax-stagger">
              <div class="home-section__links">
                <router-link :to="'/' + this.$i18n.locale  + '/arsdk'" class="maxst_button_white__width-420 border-green">
                  <div class="btn_icon"><i class="medium material-icons">add</i></div>
                  <div class="btn_text" >
                    <span v-html="$t('message.home_content_3_1_1')" class="valign-wrapper"></span>
                  </div>
                </router-link>
                <router-link :to="'/' + this.$i18n.locale  + '/arsdk'" class="maxst_button_white__width-420 border-green overlay">
                  <div class="btn_icon"><i class="medium material-icons">add</i></div>
                  <div class="btn_text" >
                    <span v-html="$t('message.home_content_3_1_1_1')" class="valign-wrapper"></span>
                  </div>
                </router-link>
              </div>
            </div>
            <div class="col l4 s12 parallax-stagger">
              <div class="home-section__links">
                <router-link :to="'/' + this.$i18n.locale  + '/arcollaboration'" class="maxst_button_white__width-420">
                  <div class="btn_icon"><i class="medium material-icons">add</i></div>
                  <div class="btn_text" >
                    <span v-html="$t('message.home_content_3_1_2')"></span>
                  </div>
                </router-link>
                <router-link :to="'/' + this.$i18n.locale  + '/arcollaboration'" class="maxst_button_white__width-420 overlay">
                  <div class="btn_icon"><i class="medium material-icons">add</i></div>
                  <div class="btn_text" >
                    <span v-html="$t('message.home_content_3_1_2_1')"></span>
                  </div>
                </router-link>
              </div>
            </div>
            <div class="col l4 s12 parallax-stagger">
              <div class="home-section__links">
                <router-link :to="'/' + this.$i18n.locale  + '/arguide'" class="maxst_button_white__width-420 border-sky">
                  <div class="btn_icon"><i class="medium material-icons">add</i></div>
                  <div class="btn_text" >
                    <span v-html="$t('message.home_content_3_1_3')"></span>
                  </div>
                </router-link>
                <router-link :to="'/' + this.$i18n.locale  + '/arguide'" class="maxst_button_white__width-420 border-sky overlay">
                  <div class="btn_icon"><i class="medium material-icons">add</i></div>
                  <div class="btn_text" >
                  <span v-html="$t('message.home_content_3_1_3_1')">
                  </span>
                  </div>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import { Carousel, Slide } from 'vue-carousel';
  import Typer from '../../components/Utilities/Typer/Typer.vue';
  import {TweenMax, TimelineMax, Power4, Power1} from 'gsap';
  import 'animation.gsap';
  import 'debug.addIndicators';
  import ScrollMagicFactory from '../../components/Utilities/parallaxWithTweenMax';

  export default {
    name: 'Home',
    metaInfo: {
      title: 'Technology company specialized in AR to make a better augmented reality world.',
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: 'As AR Specialist, MAXST provides various solutions and services based on MAXST AR SDK which developed by its own augmented reality technology.' },
        {
          'vmid': 'og:title',
          'property': 'og:title',
          'content': 'Technology company specialized in AR to make a better augmented reality world',
          'template': chunk => `MAXST | - ${chunk}` // or as string template: '%s - My page'
        },
        {
          'vmid': 'og:description',
          'property': 'og:description',
          'content': 'As AR Specialist, MAXST provides various solutions and services based on MAXST AR SDK which developed by its own augmented reality technology.'
        }
      ]
    },
    props: {
    },
    watch: {
    },
    computed: {
    },
    data () {
      return {
        player1: null,
        player2: null,
        player3: null,
        videoDuration: 100,
        mouseOverActive: false,
        isMobile: false,
        autoScrollPosition: 0
      }
    },
    beforeMount () {
    },
    mounted () {
      this.$nextTick(() => {
        this.isMobile = this.$helpers.disableVideoOnMobile();
        if (this.isMobile === false) {
          ScrollMagicFactory.init();
          this.player1 = $('#video1').get(0);
          this.player2 = $('#video2').get(0);
          this.player3 = $('#video3').get(0);
          this.videoDuration = $('#video1').height();
          this.setScrollMagicAni();
          $(window).on('resize', this.resizeHeight);
        }

        this.autoScrollPosition = $('#auto-scroll').offset().top - 100;
      });
    },
    methods: {
      animation (event) {
        event.preventDefault();
      },
      setScrollMagicAni () {
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        const tl3 = new TimelineMax();
        const tl4 = new TimelineMax();
        tl1.add(TweenMax.from('#two', 2, {yPercent: 10, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#two .parallax-stagger', 0.5, {yPercent: 20, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0), 0.3);
        tl2.add(TweenMax.from('#three', 2, {yPercent: 30, ease: Power1.easeOut}));
        tl2.add(TweenMax.staggerFrom('#three .parallax-stagger', 0.5, {yPercent: 20, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0), 0.3);
        tl3.add(TweenMax.from('#four', 2, {yPercent: 30, ease: Power1.easeOut}));
        tl3.add(TweenMax.staggerFrom('#four .parallax-stagger', 0.5, {yPercent: 20, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0), 0.3);
        tl4.add(TweenMax.from('#five', 2, {yPercent: 30, ease: Power4.easeOut}));
        tl4.add(TweenMax.staggerFrom('#five .parallax-stagger', 0.5, {yPercent: 20, autoAlpha: 0, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        const videoScenes = [
          {
            option: {duration: this.videoDuration},
            element: '#video1',
            player: this.player1
          },
          {
            option: {duration: this.videoDuration},
            element: '#video2',
            player: this.player2
          },
          {
            option: {duration: this.videoDuration},
            element: '#video3',
            player: this.player3
          }
        ];
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#one',
            tween: TweenMax.from('#one', 0.7, {yPercent: 25, autoAlpha: 0.9, scale: 0.95, ease: Power1.easeInOut})
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#two',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#three',
            tween: tl2
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#four',
            tween: tl3
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#five',
            tween: tl4
          }
        ];
        ScrollMagicFactory.createScrollAutoVideo(videoScenes, { reverse: true });
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      },
      resizeHeight () {
        this.autoScrollPosition = $('#auto-scroll').offset().top - 100;
        this.videoDuration = $('#video1').height();
        ScrollMagicFactory.updateAllVideoDuration(this.videoDuration);
      },
      funcAutoScroll () {
        $('body, html').animate({ 'scrollTop': this.autoScrollPosition }, 800, 'swing', () => {
        });
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Carousel,
      Slide,
      Typer
    }
  }
</script>

<style lang="scss">
  @import "Home.scss";
</style>
