<template>
  <transition name="modal">
    <div class="maxst-modal" v-show="show"  >
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <img src="../../../assets/images/btn-x.svg" alt="close" @click="$emit('close')" class="right  maxst-modal__close">
          </div>
          <div class="modal-body" >
            <article class="modal-body__title">
              <h2 class="lang-condensed">
                {{$t(content.title)}}
              </h2>
            </article>
            <article class="modal-body__video">
              <video id="modalVideo"
                     class="video-js vjs-default-skin vjs-fluid"
                     muted="muted"
                     controls
                     preload="auto"
                     width="100%"
                     height="100%"
                     :poster="content.posterSrc"
              >
                <source src="https://arplatform.blob.core.windows.net/public/mxtcom/media/genesis_main.mp4" type="video/mp4">
              </video>
            </article>
            <article class="modal-body__content">
              <p  v-html="$t(content.content)">
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import videojs from 'video.js'
  import 'video.js/dist/video-js.css'
  export default {
    name: 'modal',
    props: {
      show: {
        type: Boolean,
        required: true,
        twoWay: true
      },
      content: {
        type: Object
      }
    },
    data () {
      return {
        player: null
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.player = videojs('modalVideo');
      });
    },
    watch: {
      show: function (newVal, oldVal) { // watch it
        if (newVal) {
          $('body').css({overflow: 'hidden'});
          this.player.src(this.content.videoSrc);
        } else {
          $('body').css({overflow: 'auto'});
        }
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      this.player.dispose();
    },
    components: {
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "Modal.scss";
</style>
