@import '../../../setting';

.maxst-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 100vh; /* mobile height does't contain URL bar */
  background: rgba(0,0,0,0.7);
  display: table;
  transition: opacity .3s ease;
  z-index: 999;

  .modal-wrapper
  {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;

    .modal-container {
      max-width: 90%;
      /*max-height: 80%; */
      max-height: 80%;
      overflow-y: auto;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all .3s ease;
      margin: 0 auto;
      padding: calc-unit-rem(20px) calc-unit-rem(30px);
      color: $white;
      line-height: 25px;
      background-color: $mint;

      .modal-header {
        height: calc-unit-rem(30px);
      }
      .modal-body{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        article {
          padding: calc-unit-rem(25px)
        }
        .modal-body__title {
          flex: 1 1;
          align-self: flex-start;
        }
        .modal-body__video {
          min-width: 310px;
          flex: 3 1;
        }
        .modal-body__content {
          flex: 2 1;
          max-height: calc-unit-rem(500px);
          overflow: auto;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
.maxst-modal__close {
  cursor: pointer;
  @media only screen and (max-width: 700px) {
    width: 20px;
  }
}
.maxst-modal-img__close {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
/* common modal css */
.modal-container::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: transparent;
}

.modal-container::-webkit-scrollbar
{
  width: 3px;
  background-color: transparent;
}
.modal-container::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(85, 85, 85, 0.2);
}
.modal-enter, .modal-leave {
  //opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container, .modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* end common modal css */
