@import '../../../setting';

#app {
  .casestudies-detail-container {
    .casestudies-detail-main {
      display: flex;
      align-items: flex-end;
      small{
        display: block;
        font-weight: normal;
        padding-left: calc-unit-rem(90px);
        @media screen and (max-width: 700px ) {
          padding-left: 0;
        }
      }
      &.genesis {
        background:url(../../../assets/images/04_01_genesis_main.jpg) 50% 50% no-repeat fixed;
        background-size: cover;
        max-height: calc-unit-rem(604px);
      }
      &.kt {
        background:url(../../../assets/images/04_case_studies_002.png) 50% 50% no-repeat fixed;
        background-size: cover;
        max-height: calc-unit-rem(604px);
      }
      &.kia {
        background:url(../../../assets/images/04_casestudies_003.png) 50% 50% no-repeat fixed;
        background-size: cover;
        max-height: calc-unit-rem(604px);
      }
      &.smartfactory {
        background:url(../../../assets/images/04_case_studies_004.png) 50% 50% no-repeat fixed;
        background-size: cover;
        max-height: calc-unit-rem(604px);
      }
      :lang(ko) {
        span {
          font-size: calc-unit-rem(70px) !important;
        }
      }
    }
    .section_wrap{
      background-size: contain;
      background-repeat: no-repeat;
    }
    .section_wrap.section-A {
      background-image: url(../../../assets/images/01-casestudies-01.svg);
    }
    .section_wrap.section-B {
      background-image: url(../../../assets/images/01-casestudies-02.svg);
    }
    .section_wrap.section-C {
      background-image: url(../../../assets/images/01-casestudies-03.svg);
    }
    .casestudies-detail-main-section {
      max-width: 1020px;
    }
    .casestudies-detail-section {
      margin-bottom: calc-unit-rem(100px);

      h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: calc-unit-rem(30px);
      }
      h2 {
        font-size: calc-unit-rem(28px);
        line-height: 1.5;
        margin-bottom: calc-unit-rem(20px);
        text-align: left;
      }
      h3 {
        font-weight: bold;
        line-height: normal;
        margin: calc-unit-rem(10px) 0;
      }
      p {
        margin-top: calc-unit-rem(5px);
      }
      .casestudies-detail-section__button {
        text-align: center;
        a {
          display: inline-block;
          padding: calc-unit-rem(20px) calc-unit-rem(25px);
        }
      }

      .casestudies-detail-section__video-desc {
        padding: calc-unit-rem(25px) calc-unit-rem(25px) 0;
      }
      .sample-images-btn {
        display: inline-block;
        width: calc-unit-rem(140px);
        border-radius: 20px;
        border: solid 1px #2f2f2f;
        color: $black;

        &:hover {
          color: $white;
          background-color: #2f2f2f;
        }
      }
    }
  }
}


