<template>
  <main class="casestudies-detail-container">
    <div class="casestudies-detail-main  kia page-landing">
      <div class="container">
        <small class="font-36">{{$t('message.casestudies_kiamanual_content_1_1')}}</small>
        <h1 class="left-align margin-bottom-70" v-html="$t('message.casestudies_kiamanual_content_1')" :lang="$i18n.locale">
          <!--<typer :content="$t('message.casestudies_kiamanual_content_1')" :preTypeDelay=300 :typeDelay=50 :infinite=false></typer>-->
        </h1>
      </div>
    </div>
    <div class='section_wrap section-A container-wide' id="kiamanual-one">
      <section class="casestudies-detail-section">
        <div class="container casestudies-detail-main-section">
          <h1 class="parallax-stagger">
            {{$t('message.casestudies_kiamanual_content_2')}}
          </h1>
          <h2 class="center-align parallax-stagger" v-html="$t('message.casestudies_kiamanual_content_2_1')">
          </h2>
          <p class="font-20 parallax-stagger" v-html="$t('message.casestudies_kiamanual_content_2_1_1')">
          </p>
        </div>
      </section>
    </div>
    <div class='section_wrap section-C container-wide' id="kiamanual-two">
      <section class="casestudies-detail-section">
        <div class="container">
          <h1 class="margin-bottom-50 parallax-stagger" >
            {{$t('message.casestudies_kiamanual_content_3')}}
          </h1>
          <div class="container">
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_casestudies_03_01_features.png">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align parallax-stagger">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_1')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_1_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_1_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_1_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_1_2_1')">
                  </p>
                </div>
              </div>
            </section>
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_casestudies_03_02_features.png">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_2')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_2_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_2_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_2_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_2_2_1')">
                  </p>
                </div>
              </div>
            </section>
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_casestudies_03_03_features.png">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_3')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_3_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_3_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_3_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_kiamanual_content_3_3_2_1')">
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import Typer from '../../../components/Utilities/Typer/Typer.vue';
  import 'video.js/dist/video-js.css'
  import 'videojs-youtube';
  import {TweenMax, TimelineMax, Power1} from 'gsap';
  import ScrollMagicFactory from '../../../components/Utilities/parallaxWithTweenMax';

  export default {
    name: 'KiaManual',
//    metaInfo: {
//      title: `KIA AR Manual for Mechanics is a AR manual for maintenance and inspection of electric vehicles and parts replacement.`,
//      titleTemplate: 'MAXST | %s',
//      meta: [
//        { name: 'description', content: `We focused on developing fault diagnosis programs, speech recognition, and augmented reality functionality as well as on developing integrated applications for smart glasses-optimized UI / UX.` },
//        {
//          'vmid': 'og:title',
//          'property': 'og:title',
//          'content': `KIA AR Manual for Mechanics is a AR manual for maintenance and inspection of electric vehicles and parts replacement.`,
//          'template': chunk => `MAXST | - ${chunk}` // or as string template: '%s - My page'
//        },
//        {
//          'vmid': 'og:description',
//          'property': 'og:description',
//          'content': `We focused on developing fault diagnosis programs, speech recognition, and augmented reality functionality as well as on developing integrated applications for smart glasses-optimized UI / UX.`
//        }
//      ]
//    },
    data () {
      return {
        player1: null,
        player2: null,
        player3: null,
        isMobile: false
      }
    },
    mounted () {
      ScrollMagicFactory.init();
      this.$nextTick(() => {
        this.isMobile = this.$helpers.disableVideoOnMobile();
        if (this.isMobile === false) {
          ScrollMagicFactory.init();
          this.setScrollMagicAni();
        }
      });
    },
    methods: {
      setScrollMagicAni () {
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        tl1.add(TweenMax.from('#kiamanual-one', 1, {yPercent: 25, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#kiamanual-one .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl2.add(TweenMax.from('#kiamanual-two', 2, {yPercent: 15, ease: Power1.easeOut}));
        tl2.add(TweenMax.staggerFrom('#kiamanual-two .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.3, scale: 0.98, ease: Power1.easeOut}, 0), 0.3);
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#kiamanual-one',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#kiamanual-two',
            tween: tl2
          }
        ];
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Typer
    }
  }
</script>

<style lang="scss">
  @import "detail.scss";
</style>
