<template>
  <main class="casestudies-detail-container">
    <div class="casestudies-detail-main  kt page-landing ">
      <div class="container">
        <small class="font-36">{{$t('message.casestudies_remotesolution_content_1_1')}}</small>
        <h1 class="left-align margin-bottom-70" v-html="$t('message.casestudies_remotesolution_content_1')" :lang="$i18n.locale">
          <!--<typer :content="$t('message.casestudies_remotesolution_content_1')" :preTypeDelay=300 :typeDelay=50 :infinite=false></typer>-->
        </h1>
      </div>
    </div>
    <div class='section_wrap section-A container-wide' id="remotesolution-one">
      <section class="casestudies-detail-section">
        <div class="container casestudies-detail-main-section">
          <h1 class="parallax-stagger">
            {{$t('message.casestudies_remotesolution_content_2')}}
          </h1>
          <h2 class="center-align parallax-stagger" v-html="$t('message.casestudies_remotesolution_content_2_1')">
          </h2>
          <p class="font-20 parallax-stagger" v-html="$t('message.casestudies_remotesolution_content_2_1_1')">
          </p>
        </div>
      </section>
    </div>
    <div class='section_wrap section-C container-wide' id="remotesolution-two">
      <section class="casestudies-detail-section">
        <div class="container">
          <h1 class="margin-bottom-50 parallax-stagger">
            {{$t('message.casestudies_remotesolution_content_3')}}
          </h1>
          <div class="container">
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_case_studies_02_01_features.jpg">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_1')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_1_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_1_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_1_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_1_2_1')">
                  </p>
                </div>
              </div>
            </section>
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_case_studies_02_02_features.jpg">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_2')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_2_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_2_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_2_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_2_2_1')">
                  </p>
                </div>
              </div>
            </section>
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_case_studies_02_03_features.jpg">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_3')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_3_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_3_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_3_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_remotesolution_content_3_3_2_1')">
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import Typer from '../../../components/Utilities/Typer/Typer.vue';
  import {TweenMax, TimelineMax, Power1} from 'gsap';
  import ScrollMagicFactory from '../../../components/Utilities/parallaxWithTweenMax';

  export default {
    name: 'KtRemoteSolution',
    metaInfo: {
      title: `KT AR Remote Support is a pilot project with KT for developing a remote support solution for smart glasses.`,
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: `Based on MAXST AR COLLABORATION solution for smart glasses, KT Remote support is a seamless remote communication and effective collaboration tool to give accurate and intuitive help in real time.` },
        {
          'vmid': 'og:title',
          'property': 'og:title',
          'content': `KT AR Remote Support is a pilot project with KT for developing a remote support solution for smart glasses.`,
          'template': chunk => `MAXST | - ${chunk} ` // or as string template: '%s - My page'
        },
        {
          'vmid': 'og:description',
          'property': 'og:description',
          'content': `Based on MAXST AR COLLABORATION solution for smart glasses, KT Remote support is a seamless remote communication and effective collaboration tool to give accurate and intuitive help in real time. `
        }
      ]
    },
    data () {
      return {
        isMobile: false
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.isMobile = this.$helpers.disableVideoOnMobile();
        if (this.isMobile === false) {
          ScrollMagicFactory.init();
          this.setScrollMagicAni();
        }
      });
    },
    methods: {
      setScrollMagicAni () {
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        tl1.add(TweenMax.from('#remotesolution-one', 1, {yPercent: 25, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#remotesolution-one .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl2.add(TweenMax.from('#remotesolution-two', 2, {yPercent: 15, ease: Power1.easeInOut}));
        tl2.add(TweenMax.staggerFrom('#remotesolution-two .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0, scale: 0.98, ease: Power1.easeOut}, 0), 0.3);
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#remotesolution-one',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#remotesolution-two',
            tween: tl2
          }
        ];
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Typer
    }
  }
</script>

<style lang="scss">
  @import "detail.scss";
</style>
