<template>
  <main class="casestudies-detail-container">
    <div class="casestudies-detail-main  page-landing smartfactory">
      <div class="container">
        <small class="font-36">{{$t('message.casestudies_smartfactory_content_1_1')}}</small>
        <h1 class="left-align margin-bottom-70" v-html="$t('message.casestudies_smartfactory_content_1')" :lang="$i18n.locale">
          <!--<typer :content="$t('message.casestudies_smartfactory_content_1')" :preTypeDelay=300 :typeDelay=50 :infinite=false></typer>-->
        </h1>
      </div>
    </div>
    <div class='section_wrap section-A container-wide' id="smartfactory-one">
      <section class="casestudies-detail-section">
        <div class="container casestudies-detail-main-section">
          <h1 class="parallax-stagger" v-html="$t('message.casestudies_smartfactory_content_2')">
          </h1>
          <h2 class="center-align parallax-stagger" v-html="$t('message.casestudies_smartfactory_content_2_1')">
          </h2>
          <p class="font-20 parallax-stagger" v-html="$t('message.casestudies_smartfactory_content_2_1_1')">
          </p>
        </div>
      </section>
    </div>
    <div class='section_wrap section-C container-wide' id="smartfactory-two">
      <section class="casestudies-detail-section">
        <div class="container">
          <h1 class="margin-bottom-50 parallax-stagger">
            {{$t('message.casestudies_smartfactory_content_3')}}
          </h1>
          <div class="container">
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_case_studies_04_01_features.jpg">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_1')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_1_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_1_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_1_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_1_2_1')">
                  </p>
                </div>
              </div>
            </section>
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_case_studies_04_02_features.jpg">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_2')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_2_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_2_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_2_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_2_2_1')">
                  </p>
                </div>
              </div>
            </section>
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <img src="../../../assets/images/04_case_studies_04_03_features.jpg">
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_3')">
                  </h2>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_3_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_3_1_1')">
                  </p>
                  <h3 class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_3_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_smartfactory_content_3_3_2_1')">
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import Typer from '../../../components/Utilities/Typer/Typer.vue';
  import {TweenMax, TimelineMax, Power1} from 'gsap';
  import ScrollMagicFactory from '../../../components/Utilities/parallaxWithTweenMax';

  export default {
    name: 'SmartFactory',
//    metaInfo: {
//      title: `AR Smart Helmet is a project that implements the AR manual function by attaching smart glasses on the safety helmet.`,
//      titleTemplate: 'MAXST | %s',
//      meta: [
//        { name: 'description', content: `It is the core solution for Smart Factory, which is also the centerpiece of the Fourth Industrial Revolution capable of improving plant productivity and product quality, and of preventing /coping with industrial accidents. ` },
//        {
//          'vmid': 'og:title',
//          'property': 'og:title',
//          'content': `AR Smart Helmet is a project that implements the AR manual function by attaching smart glasses on the safety helmet.`,
//          'template': chunk => `MAXST | - ${chunk}` // or as string template: '%s - My page'
//        },
//        {
//          'vmid': 'og:description',
//          'property': 'og:description',
//          'content': `It is the core solution for Smart Factory, which is also the centerpiece of the Fourth Industrial Revolution capable of improving plant productivity and product quality, and of preventing /coping with industrial accidents. `
//        }
//      ]
//    },
    data () {
      return {
        player1: null,
        player2: null,
        player3: null,
        isMobile: false
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.isMobile = this.$helpers.disableVideoOnMobile();
        if (this.isMobile === false) {
          ScrollMagicFactory.init();
          this.setScrollMagicAni();
        }
      });
    },
    methods: {
      setScrollMagicAni () {
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        tl1.add(TweenMax.from('#smartfactory-one', 1, {yPercent: 25, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#smartfactory-one .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl2.add(TweenMax.from('#smartfactory-two', 2, {yPercent: 15, ease: Power1.easeOut}));
        tl2.add(TweenMax.staggerFrom('#smartfactory-two .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.3, scale: 0.98, ease: Power1.easeOut}, 0), 0.3);
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#smartfactory-one',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#smartfactory-two',
            tween: tl2
          }
        ];
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Typer
    }
  }
</script>

<style lang="scss">
  @import "detail.scss";
</style>
