<template>
  <main class="casestudies-detail-container">
    <div class="casestudies-detail-main  genesis page-landing">
      <div class="container">
        <small class="font-36">{{$t('message.casestudies_virtualguide_content_1_1')}}</small>
        <h1 class="left-align margin-bottom-70" v-html="$t('message.casestudies_virtualguide_content_1')" :lang="$i18n.locale">
          <!--<typer :content="$t('message.casestudies_virtualguide_content_1')" :preTypeDelay=500 :typeDelay=50 :infinite=false></typer>-->
        </h1>
      </div>
    </div>
    <div class='section_wrap section-A container-wide' id="virtualguide-one">
      <section class="casestudies-detail-section">
        <div class="container casestudies-detail-main-section">
          <h1 class="parallax-stagger">
            {{$t('message.casestudies_virtualguide_content_2')}}
          </h1>
          <h2 class="parallax-stagger center-align">
            {{$t('message.casestudies_virtualguide_content_2_1')}}
          </h2>
          <p class="font-20 parallax-stagger" v-html="$t('message.casestudies_virtualguide_content_2_1_1')">
          </p>
        </div>
      </section>
    </div>
    <div class='section_wrap section-B container-wide' id="virtualguide-two">
      <section class="casestudies-detail-section">
        <div class="container">
          <h1 class="parallax-stagger">
            {{$t('message.casestudies_virtualguide_content_3')}}
          </h1>
          <small class="center-align margin-bottom-50 parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_3_1')">
          </small>
          <h3 class="center-align parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_3_2')">
          </h3>
          <p class="center-align" v-html = "$t('message.casestudies_virtualguide_content_3_2_1')"></p>
          <div class="casestudies-detail-section__button ">
            <a href="https://itunes.apple.com/us/app/genesis-virtual-guide/id1265717613?mt=8" class="parallax-stagger" target="_blank">
              <img src="../../../assets/images/apple-outline-black.png" alt="apple play store">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.hyundai.gbrandar&hl=en_GB" class="parallax-stagger" target="_blank">
              <img src="../../../assets/images/google-outline-black.png" alt="google play store">
            </a>
          </div>
          <p class="center-align parallax-stagger margin-bottom-50">
            <a href="https://arplatform.blob.core.windows.net/public/mxtcom/PDF/GVG_Sample_en.pdf" target="_blank" role="link" class="sample-images-btn">Sample Images</a>
          </p>
          <h3 class="center-align parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_3_3')">
          </h3>
          <p class="center-align" v-html = "$t('message.casestudies_virtualguide_content_3_3_1')"></p>
          <div class="casestudies-detail-section__button">
            <a href="https://itunes.apple.com/kr/app/%EC%A0%9C%EB%84%A4%EC%8B%9C%EC%8A%A4-%EB%B2%84%EC%B6%94%EC%96%BC-%EA%B0%80%EC%9D%B4%EB%93%9C/id1305613285?mt=8" class="parallax-stagger"  target="_blank">
              <img src="../../../assets/images/apple-outline-black.png" alt="apple play store">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.hyundai.gbrandarkr" class="parallax-stagger"  target="_blank">
              <img src="../../../assets/images/google-outline-black.png" alt="google play store">
            </a>
          </div>
          <p class="center-align parallax-stagger">
            <a href="https://arplatform.blob.core.windows.net/public/mxtcom/PDF/GVG_Sample_kr.pdf" target="_blank" role="link" class="sample-images-btn">Sample Images</a>
          </p>
        </div>
      </section>
    </div>
    <div class='section_wrap section-C container-wide' id="virtualguide-three">
      <section class="casestudies-detail-section">
        <div class="container">
          <h1 class="margin-bottom-50 parallax-stagger">
            {{$t('message.casestudies_virtualguide_content_4')}}
          </h1>
          <div class="container">
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <video id="virtualguide-video1"
                         loop="loop"
                         muted="muted"
                         preload="auto"
                         width="100%"
                         height="100%"
                         poster="../../../assets/images/04_01_ar_manual.jpg"
                  >
                    <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/04_01_a_ar_manual.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_1')">
                  </h2>
                  <h3 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_1_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_1_1_1')">
                  </p>
                  <h3 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_1_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_1_2_1')">
                  </p>
                </div>
              </div>
            </section>
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <video id="virtualguide-video2"
                         loop="loop"
                         muted="muted"
                         preload="auto"
                         width="100%"
                         height="100%"
                         poster="../../../assets/images/04_01_b_button_scanner.jpg"
                  >
                    <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/04_01_b_button_scanner.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger left-align" v-html = "$t('message.casestudies_virtualguide_content_4_2')">
                  </h2>
                  <h3 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_2_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_2_1_1')">
                  </p>
                  <h3 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_2_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_2_2_1')">
                  </p>
                </div>
              </div>
            </section>
            <section class="row">
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc parallax-stagger">
                  <video id="virtualguide-video3"
                         loop="loop"
                         muted="muted"
                         preload="auto"
                         width="100%"
                         height="100%"
                         poster="../../../assets/images/04_01_c_360_vr.jpg"
                  >
                    <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/04_01_c_360_vr.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col l6 s12">
                <div class="casestudies-detail-section__video-desc left-align">
                  <h2 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_3')">
                  </h2>
                  <h3 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_3_1')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_3_1_1')">
                  </p>
                  <h3 class="font-bold parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_3_2')">
                  </h3>
                  <p class="parallax-stagger" v-html = "$t('message.casestudies_virtualguide_content_4_3_2_1')">
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import Typer from '../../../components/Utilities/Typer/Typer.vue';
  import {TweenMax, TimelineMax, Power1} from 'gsap';
  import ScrollMagicFactory from '../../../components/Utilities/parallaxWithTweenMax';

  export default {
    name: 'VirtualGuide',
    metaInfo: {
      title: `GENESIS VIRTUAL GUIDE is a 'Augmented Reality Owner's Manual' for Genesis vehicle drivers.`,
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: `GENESIS VIRTUAL GUIDE is an AR manual app which is developed by MAXST with HYUNDAI Motors based on AR GUIDE solution. Download for free from the store.` },
        {
          'vmid': 'og:title',
          'property': 'og:title',
          'content': `GENESIS VIRTUAL GUIDE is a 'Augmented Reality Owner's Manual' for Genesis vehicle drivers.`,
          'template': chunk => `MAXST | - ${chunk} ` // or as string template: '%s - My page'
        },
        {
          'vmid': 'og:description',
          'property': 'og:description',
          'content': `GENESIS VIRTUAL GUIDE is an AR manual app which is developed by MAXST with HYUNDAI Motors based on AR GUIDE solution. Download for free from the store.`
        }
      ]
    },
    data () {
      return {
        player1: null,
        player2: null,
        player3: null,
        videoDuration: 100,
        isMobile: false
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.isMobile = this.$helpers.disableVideoOnMobile();
        if (this.isMobile === false) {
          ScrollMagicFactory.init();
          this.player1 = $('#virtualguide-video1').get(0);
          this.player2 = $('#virtualguide-video2').get(0);
          this.player3 = $('#virtualguide-video3').get(0);
          this.videoDuration = $('#virtualguide-video1').height();
          this.setScrollMagicAni();
          $(window).on('resize', this.resizeHeight);
        }
      });
    },
    methods: {
      setScrollMagicAni () {
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        const tl3 = new TimelineMax();
        tl1.add(TweenMax.from('#virtualguide-one', 1, {yPercent: 25, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#virtualguide-one .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl2.add(TweenMax.from('#virtualguide-two', 1, {yPercent: 25, ease: Power1.easeOut}));
        tl2.add(TweenMax.staggerFrom('#virtualguide-two .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl3.add(TweenMax.from('#virtualguide-three', 2, {yPercent: 15, ease: Power1.easeOut}));
        tl3.add(TweenMax.staggerFrom('#virtualguide-three .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.3, scale: 0.98, ease: Power1.easeOut}, 0), 0.3);
        const videoScenes = [
          {
            option: {duration: this.videoDuration},
            element: '#virtualguide-video1',
            player: this.player1
          },
          {
            option: {duration: this.videoDuration},
            element: '#virtualguide-video2',
            player: this.player2
          },
          {
            option: {duration: this.videoDuration},
            element: '#virtualguide-video3',
            player: this.player3
          }
        ];
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#virtualguide-one',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#virtualguide-two',
            tween: tl2
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#virtualguide-three',
            tween: tl3
          }
        ];
        ScrollMagicFactory.createScrollAutoVideo(videoScenes, { reverse: true });
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      },
      resizeHeight () {
        this.videoDuration = $('#virtualguide-video1').height();
        ScrollMagicFactory.updateAllVideoDuration(this.videoDuration);
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Typer
    }
  }
</script>

<style lang="scss">
  @import "detail.scss";
</style>
