<template>
  <main class="casestudies-container">
    <div class="casestudies-main  page-landing">
      <div class="container">
          <h1 class="left-align">
            <typer :content="$t('message.casestudies_content_1')" :preTypeDelay=300 :typeDelay=50 :infinite=false></typer>
          </h1>
          <p v-html="$t('message.casestudies_content_1_1')">
          </p>
      </div>
    </div>
    <section class="casestudies-section">
      <div class="container">
        <div class="row margin-bottom-20">
          <div class="col l6 s12">
            <div class="casestudies__img">
              <div class="casestudies__img-link">
                <router-link :to="'/' + this.$i18n.locale + '/casestudies/virtualguide'" class="waves-effect waves-light" exact >
                  <img src="../../assets/images/img_04_case_01_genesis.jpg" alt="genesis">
                </router-link>
              </div>
              <div class="casestudies__img-link-content">
                <h4 class="">
                  <router-link :to="'/' + this.$i18n.locale + '/casestudies/virtualguide'" class="" exact v-html="$t('message.casestudies_virtualguide_content_1_1')">
                  </router-link>
                </h4>
                <h2 class="lang-condensed margin-bottom-30" :lang="$i18n.locale">
                  <router-link :to="'/' + this.$i18n.locale + '/casestudies/virtualguide'" class="" exact v-html="$t('message.casestudies_virtualguide_content_1')">
                  </router-link>
                </h2>
              </div>
            </div>
          </div>
          <div class="col l6 s12">
            <div class="casestudies__img">
              <div class="casestudies__img-link">
                <router-link :to="'/' + this.$i18n.locale + '/casestudies/remotesolution'" class="waves-effect waves-light" exact >
                  <img src="../../assets/images/img_04_case_02_kt.jpg" alt="kt">
                </router-link>
              </div>
              <div class="casestudies__img-link-content">
                <h4 class="">
                  <router-link :to="'/' + this.$i18n.locale + '/casestudies/remotesolution'" class="" exact v-html="$t('message.casestudies_remotesolution_content_1_1')">
                  </router-link>
                </h4>
                <h2 class="lang-condensed margin-bottom-30" :lang="$i18n.locale">
                  <router-link :to="'/' + this.$i18n.locale + '/casestudies/remotesolution'" class="" exact v-html="$t('message.casestudies_remotesolution_content_1')">
                  </router-link>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col l6 s12">
            <div class="casestudies__img">
              <div class="casestudies__img-link">
                <router-link :to="'/' + this.$i18n.locale + '/casestudies/kiamanual'" class="waves-effect waves-light" exact >
                  <img src="../../assets/images/img_04_case_03_kia.png" alt="kia">
                </router-link>
              </div>
              <div class="casestudies__img-link-content">
                <h4 class="">
                <router-link :to="'/' + this.$i18n.locale + '/casestudies/kiamanual'" class="" exact v-html="$t('message.casestudies_kiamanual_content_1_1')">
                </router-link>>
                </h4>
                <h2 class="lang-condensed margin-bottom-30"  :lang="$i18n.locale">
                  <router-link :to="'/' + this.$i18n.locale + '/casestudies/kiamanual'" class="" exact v-html="$t('message.casestudies_kiamanual_content_1')">
                  </router-link>
                </h2>
              </div>
            </div>
          </div>
          <div class="col l6 s12">
            <div class="casestudies__img">
              <div class="casestudies__img-link">
                <router-link :to="'/' + this.$i18n.locale + '/casestudies/smartfactory'" class="waves-effect waves-light" exact >
                  <img src="../../assets/images/img_04_case_04_smartfactory.jpg" alt="smartfactory">
                </router-link>
              </div>
              <div class="casestudies__img-link-content">
                <h4 class="">
                  <router-link :to="'/' + this.$i18n.locale + '/casestudies/smartfactory'" class="" exact v-html="$t('message.casestudies_smartfactory_content_1_1')">
                  </router-link>
                </h4>
                <h2 class="lang-condensed margin-bottom-30" :lang="$i18n.locale">
                  <router-link :to="'/' + this.$i18n.locale + '/casestudies/smartfactory'" class="" exact v-html="$t('message.casestudies_smartfactory_content_1')">
                  </router-link>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
  import Typer from '../../components/Utilities/Typer/Typer.vue';

  export default {
    name: 'casestudies',
    metaInfo: {
      title: `Here's some case studies from our customers who use MAXST AR technology and solutions.`,
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: `MAXST's projects with major companies such as HYUNDAI/KIA Motors, KT, and HYOSUNG. All are based on MAXST's core AR technology and solutions.` },
        {
          'vmid': 'og:title',
          'property': 'og:title',
          'content': `Here's some case studies from our customers who use MAXST AR technology and solutions.`,
          'template': chunk => `MAXST | - ${chunk} ` // or as string template: '%s - My page'
        },
        {
          'vmid': 'og:description',
          'property': 'og:description',
          'content': `MAXST's projects with major companies such as HYUNDAI/KIA Motors, KT, and HYOSUNG. All are based on MAXST's core AR technology and solutions.`
        }
      ]
    },
    data () {
      return {
      }
    },
    methods: {
    },
    components: {
      Typer
    }
  }
</script>

<style lang="scss">
  @import "casestudies.scss";
</style>
