@import '../../setting';

#app {
  .casestudies-container {
    .casestudies-main {
      display: flex;
      align-items: flex-end;
      background:url(../../assets/images/maintopimg_04_case_studuies.png) 50% 50% no-repeat fixed;
      background-size: cover;
      max-height: calc-unit-rem(640px);
    }
    .casestudies-section {
      padding: calc-unit-rem(70px) 0;

      h4 {
        margin: 0;
      }
      h2 {
        &:lang(ko) {
          span {
            font-size: calc-unit-rem(40px);
          }
        }
      }
      .casestudies__img {
        position: relative;
        overflow: hidden;
 //       padding: calc-unit-rem(20px);
        .casestudies__img-link {
          width: 100%;
          font-weight: bold;
          background-size: cover;
          transition: transform .5s ease;
          &:hover {
            transform: scale(1.1);
          }
          a {
            height: calc-unit-rem(500px);
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .casestudies__img-link-content {
          position: absolute;
          bottom: calc-unit-rem(50px);
          left: calc-unit-rem(50px);;
          z-index: 99;
          a {
            color: $white;
          }
        }
      }
    }
  }
}


