.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 /* height: 100%; */
  height: 100vh; /* mobile height does't contain URL bar */
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease;
  z-index: 999;
}
.loading img {
  max-width: 100%;
}
