<template>
  <div id="maxst-util-typer" class="maxst-util-typer">
    <span  class="lang-condensed" v-html="currentText" :lang="$i18n.locale"></span>
    <i class="cursor-blinker" v-show="isDoneTyping === false">|</i>
  </div>
</template>

<script src='./Typer.js'></script>

<style lang="scss">
  @import "Typer";
</style>
