@import '../../setting';

#app {
  .arsdk-container {
    .arsdk-main {
      background: url(../../assets/images/poster_01_sdk.jpg) center no-repeat;
      background-size: cover;
      .video-bg-content {
      }
    }
    .section_wrap{
      background-size: contain;
      background-repeat: no-repeat;
    }
    .section_wrap.section-A {
      background-image: url(../../assets/images/01-ar-sdk-copy-8.svg);
    }
    .section_wrap.section-B {
      background-image: url(../../assets/images/01-ar-sdk-02.svg);
    }
    .section_wrap.section-C {
      background-image: url(../../assets/images/01-ar-sdk-03.svg);
    }
    .section_wrap.section-D {
      background-image: url(../../assets/images/01-ar-sdk-04.svg);
    }
    .section_wrap.section-E {
      background-image: url(../../assets/images/01-ar-sdk-05.svg);
    }
    .arsdk-section {
      margin-bottom: calc-unit-rem(100px);
      h1 {
        text-align: center;
      }
      h3 {
        max-width: calc-unit-rem(1050px);
        margin-left: auto;
        margin-right: auto;
      }
      .arsdk-section__button {
        text-align: center;
      }
    }
  }
}


