<template>
  <main class="arsdk-container">
    <div class="arsdk-main  page-landing">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        poster="../../assets/images/poster_01_sdk.jpg"
      >
        <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/main_top_arsdk.mp4" type="video/mp4">
      </video>
      <div class="video-bg-content">
        <div class="container">
          <h1 class="left-align">
            <typer :content="$t('message.arsdk_content_1')" :preTypeDelay=500 :typeDelay=50 :infinite=false></typer>
          </h1>
          <p v-html="$t('message.arsdk_content_1_1')">
          </p>
        </div>
      </div>
    </div>
    <div class='section_wrap section-A container-wide' id="arsdk-one">
      <section class="arsdk-section">
        <div class="container">
          <h1 class="parallax-stagger" v-html="$t('message.arsdk_content_2')">
          </h1>
          <h3 class="center-align margin-bottom-50 parallax-stagger" v-html="$t('message.arsdk_content_2_1')">
          </h3>
          <div class="arsdk-section__button parallax-stagger">
            <a href="https://developer.maxst.com" class="waves-effect waves-light maxst_button_white mint" target="_blank">Go to MAXST Developer</a>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-B container-wide' id="arsdk-two">
      <section class="arsdk-section">
        <div class="container">
          <h1 class="parallax-stagger"  v-html="$t('message.arsdk_content_3')">
          </h1>
          <small class="center-align margin-bottom-50 parallax-stagger" v-html="$t('message.arsdk_content_3_1')">
          </small>
          <div class="row margin-bottom-60">
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-sdk-functions-03.png" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_3_4')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_3_4_1')">
                </p>
                <a class="waves-effect waves-light maxst_button_white mint"
                   @click="modalActiveFunc('instantTracker')">MORE</a>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-sdk-functions-04.png" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_3_5')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_3_5_1')">
                </p>
                <a class="waves-effect waves-light maxst_button_white mint"
                   @click="modalActiveFunc('visualSlam')">MORE</a>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-sdk-functions-05.png" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_3_6')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_3_6_1')">
                </p>
                <a class="waves-effect waves-light maxst_button_white mint"
                   @click="modalActiveFunc('objectTracker')">MORE</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-sdk-functions-01.png" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_3_2')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_3_2_1')">
                </p>
                <a class="waves-effect waves-light maxst_button_white mint"
                   @click="modalActiveFunc('imageTraker')">MORE</a>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-sdk-functions-02.png" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_3_3')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_3_3_1')">
                </p>
                <a class="waves-effect waves-light maxst_button_white mint"
                   @click="modalActiveFunc('markerTracker')">MORE</a>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-sdk-functions-06.png" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_3_7')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_3_7_1')">
                </p>
                <a class="waves-effect waves-light maxst_button_white mint"
                   @click="modalActiveFunc('barcodeScanner')">MORE</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-C container-wide' id="arsdk-three">
      <section class="arsdk-section">
        <div class="container">
          <h1 class="margin-bottom-50" v-html="$t('message.arsdk_content_4')">
          </h1>
          <div class="row margin-bottom-60">
            <div class="col l4 s12">
              <div class="icon_box_v_2 parallax-stagger">
                <img src="../../assets/images/icon-sdk-features-01.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_4_1')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_4_1_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_2 parallax-stagger">
                <img src="../../assets/images/icon-sdk-features-02.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_4_2')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_4_2_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_2 parallax-stagger">
                <img src="../../assets/images/icon-sdk-features-03.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_4_3')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_4_3_1')">
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col l4 s12">
              <div class="icon_box_v_2 parallax-stagger">
                <img src="../../assets/images/icon-sdk-features-04.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_4_4')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_4_4_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_2 parallax-stagger">
                <img src="../../assets/images/icon-sdk-features-05.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_4_5')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_4_5_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_2 parallax-stagger">
                <img src="../../assets/images/icon-sdk-features-06.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arsdk_content_4_6')">
                </h3>
                <p class="content" v-html="$t('message.arsdk_content_4_6_1')">
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-D container-wide' id="arsdk-four">
      <section class="arsdk-section">
        <div class="container">
          <h1 class="parallax-stagger" v-html="$t('message.arsdk_content_5')">
          </h1>
          <small class="center-align margin-bottom-50 parallax-stagger" v-html="$t('message.arsdk_content_5_1')">
          </small>
          <div class="arsdk-tab-section parallax-stagger">
            <tab-box :content="tabContent" class="tab-mint"></tab-box>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-E container-wide' id="arsdk-five">
      <section class="arsdk-section">
        <div class="container">
          <h1 class="margin-bottom-90 parallax-stagger" v-html="$t('message.arsdk_content_6')">
          </h1>
          <div class="row">
            <div class="col l6 s12">
              <div class="text_box_v_2 parallax-stagger">
                <h3 class="title" v-html="$t('message.arsdk_content_6_1')">
                </h3>
                <a :href="'https://developer.maxst.com/?lang=' + this.$i18n.locale" target="_blank" role="link" class="waves-effect waves-light maxst_button_white mint">Go to MAXST Developer</a>
              </div>
            </div>
            <div class="col l6 s12">
              <div class="text_box_v_2 parallax-stagger">
                <h3 class="title" v-html="$t('message.arsdk_content_6_2')">
                </h3>
                <router-link :to="'/' + this.$i18n.locale + '/contactus'" class="waves-effect waves-light maxst_button_white mint" exact >
                  CONTACT US
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <modal :show="showModal" :content="modalContent"  @close="showModal = false">
    </modal>
  </main>
</template>

<script>
  import Modal from '../../components/Utilities/Modal/Modal.vue'
  import TabBox from '../../components/Utilities/TabBox/Tabbox.vue';
  import Typer from '../../components/Utilities/Typer/Typer.vue';
  import tabContent from './data.json';
  import modalContent from './modal.json'
  import {TweenMax, TimelineMax, Power1} from 'gsap';
  import ScrollMagicFactory from '../../components/Utilities/parallaxWithTweenMax';

  export default {
    name: 'ARSDK',
    metaInfo: {
      title: 'The most convenient and the easist AR software development kit',
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: 'MAXST AR SDK is a cross-platform AR engine that provides all the feautures and environments you need to develop your augmented reality app.' },
        {
          'vmid': 'og:title',
          'property': 'og:title',
          'content': 'The most convenient and the easist AR software development kit',
          'template': chunk => `MAXST | - ${chunk} ` // or as string template: '%s - My page'
        },
        {
          'vmid': 'og:description',
          'property': 'og:description',
          'content': 'MAXST AR SDK is a cross-platform AR engine that provides all the feautures and environments you need to develop your augmented reality app.'
        }
      ]
    },
    data () {
      return {
        showModal: false,
        modalContent: {},
        tabContent: tabContent,
        isMobile: false
      }
    },
    beforeMount () {
    },
    mounted () {
      this.$nextTick(() => {
        this.isMobile = this.$helpers.disableVideoOnMobile();
        if (this.isMobile === false) {
          ScrollMagicFactory.init();
          this.setScrollMagicAni();
        }
      });
    },
    methods: {
      modalActiveFunc (name) {
        this.showModal = true;
        this.modalContent = modalContent[name];
      },
      setScrollMagicAni () {
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        const tl3 = new TimelineMax();
        const tl4 = new TimelineMax();
        const tl5 = new TimelineMax();
        tl1.add(TweenMax.from('#arsdk-one', 1, {yPercent: 25, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#arsdk-one .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl2.add(TweenMax.from('#arsdk-two', 2, {yPercent: 25, ease: Power1.easeOut}));
        tl2.add(TweenMax.staggerFrom('#arsdk-two .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl3.add(TweenMax.from('#arsdk-three', 2, {yPercent: 25, ease: Power1.easeOut}));
        tl3.add(TweenMax.staggerFrom('#arsdk-three .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl4.add(TweenMax.from('#arsdk-four', 2, {yPercent: 25, ease: Power1.easeOut}));
        tl4.add(TweenMax.staggerFrom('#arsdk-four .parallax-stagger', 0.5, {yPercent: 10, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl5.add(TweenMax.from('#arsdk-five', 2, {yPercent: 25, ease: Power1.easeOut}));
        tl5.add(TweenMax.staggerFrom('#arsdk-five .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arsdk-one',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arsdk-two',
            tween: tl2
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arsdk-three',
            tween: tl3
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arsdk-four',
            tween: tl4
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arsdk-five',
            tween: tl5
          }
        ];
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Typer,
      Modal,
      TabBox
    }
  }
</script>

<style lang="scss">
  @import "ARSDK.scss";
</style>
