<template>
  <div id="app">
    <header-component></header-component>
    <transition  name="fade" mode="out-in">
      <!--<keep-alive>-->
        <router-view></router-view>
      <!--</keep-alive>-->
    </transition>
    <footer-component></footer-component>
    <!-- Scroll top button -->
    <button type="button" class="home-scroll-top hide-on-small-only" @click="autoScrollTop" v-show="displayButton">
      <i class="material-icons">keyboard_arrow_up</i>
    </button>
  </div>
</template>

<script>
  import HeaderComponent from './components/shared/Header.vue'
  import FooterComponent from './components/shared/Footer.vue'
  //  import AOS from 'aos';
  export default {
    name: 'app',
    data: () => {
      return {
        currentComponent: '',
        previousComponent: '',
        nextComponent: '',
        displayButton: false
      }
    },
    mounted () {
      $(window).scroll(this.funcScrollCallback);
    },
    methods: {
      funcScrollCallback () {
        let scrollTop = $(window).scrollTop();
        if (scrollTop > 1000) {
          this.displayButton = true;
        } else {
          this.displayButton = false;
        }
      },
      autoScrollTop () {
        $(window).off('scroll');
        $('body, html').animate({ 'scrollTop': 0 }, 500, 'swing', () => {
          this.displayButton = false;
          $(window).scroll(this.funcScrollCallback);
        });
      }
    },
    components: {
      HeaderComponent,
      FooterComponent
    }
  }
</script>

<style lang="scss">
  @import "App.scss";
</style>
