@import 'setting.scss';

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

html {
  font-family: 'Open Sans', sans-serif;

  @media only screen and (max-width: 700px) {
    $font-standard: 8px !global;
    font-size: $font-standard !important;
  }
  @media only screen and (min-width: 700px) {
    $font-standard: 12px !global;
    font-size: $font-standard !important;
  }
  @media only screen and (min-width: 992px) {
    $font-standard: 13px !global;
    font-size: $font-standard !important;
  }
  @media only screen and (min-width: 1200px) {
    $font-standard: 14px !global;
    font-size: $font-standard !important;
  }
}

body {
  color: $black;
  min-height: 100vh;
  height: 100%;
}

#app {
  ::selection {
    color: $white;
    background: pink;
  }
  h1, h2 {
    margin-top:0;
    margin-bottom:0;
  }
  h1 {
    @include setFontSizeAndLine (70px, 1);
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  h2 {
    @include setFontSizeAndLine (48px, 1.5);
  }
  h3 {
    @include setFontSizeAndLine (24px, 1.5);
  }
  h4 {
    @include setFontSizeAndLine (20px, 1.75);
  }
  h5 {
    @include setFontSizeAndLine (18px, 1);
  }
  p, blockquote, detail {
    @include setFontSizeAndLine ($font-standard, 1.7);
    //@media only screen and (max-width: 700px) {
    //  font-size: 1.3rem;
    //}
    //TODO 추후 폰트 정리 해야함
    @media (max-width: 700px) {
      font-size: 12px;
    }
  }
  small {
    @include setFontSizeAndLine (20px, 1.8);
  }
  h1 + small {
    display: block;
    margin-top: calc-unit-rem(14px); /* 14px */
    margin-bottom: calc-unit-rem(80px); /* 14px */
  }
  h1, h2, h3, h4, h5, p, li, a, blockquote, detail, span, div {
  }
  main {
  }
  .page-landing {
    position: relative;
    height:100vh;
    color: $white;
    background: $black;
    overflow: hidden;

    video {
      height: auto;
      min-height: 100%;
      object-fit: cover;
      overflow: hidden;
      @media only screen and (max-width: 700px) {
      //  height: 300px !important;
      }
    }
    .video-bg-content {
      background: linear-gradient(to bottom, rgba(101, 101, 101, 0.35), rgba(0, 0, 0, 0.4));
      background: -ms-linear-gradient(top, rgba(101, 101, 101, 0.35), rgba(0, 0, 0, 0.4));
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      color: $white;
    }

    @media only screen and (max-width: 700px) {
      height: 350px;
      transition: all .5s linear;
    }
    .video-bg-content {
      @media only screen and (max-width: 700px) {
        align-items: center !important;
      }
    }

    h1 {
      font-size: calc-unit-rem(80px);
      text-align: left;
      margin-bottom: 1.78rem;
      padding-left: calc-unit-rem(80px);

      @media only screen and (max-width: 700px) {
        padding-left: 0;
        text-align: left !important;
      }
    }
    p {
      text-align: left;
      font-size: calc-unit-rem(24px);
      padding-left: calc-unit-rem(80px);
      margin-bottom: calc-unit-rem(50px);

      @media only screen and (max-width: 700px) {
        padding-left: 0;
        //margin-bottom: 0;
      }
    }
  }

  section {

    @media (min-width: 700px) {
      padding-top: 14.2%;
    }
    @media (max-width: 700px) {
      padding-top: 60px !important;
    }
  }
  ul {
    padding: 0px;
  }
  ul li {
    list-style: none;
  }
  img {
    max-width: 100%;
  }
  main {
    padding-right: 0;
    padding-left: 0;
  }
  video {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .container {
    padding: 0px;
    @media (min-width: 992px) {
      width: 100%;
      max-width: 1280px;
    }
    .row {
      margin-bottom: 0;
      @media (max-width: 700px) {
         // display: block;
        display: flex;
        flex-direction: column;
      }
      .col {
        @media (max-width: 700px) {
          padding-top: 10px;
        }
      }
    }
  }
  .container-wide {
    width: 100%;
    max-width: 1440px;
    margin:0 auto;
  }
  .lang-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }
  .lang-opensans-regular {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }
  .font-70 {
    font-size: calc-unit-rem(70px) !important;
  }
  .font-55 {
    font-size: calc-unit-rem(55px) !important;
  }
  .font-60 {
    font-size: calc-unit-rem(60px) !important;
  }
  .font-36 {
    font-size:  calc-unit-rem(36px) !important;
  }
  .font-32 {
    font-size:  calc-unit-rem(32px) !important;
  }
  .font-24 {
    font-size:  calc-unit-rem(24px) !important;
  }
  .font-20 {
    font-size: calc-unit-rem(20px) !important;
  }
  .font-18 {
    font-size: calc-unit-rem(18px) !important;
  }
  .font-10 {
    font-size: calc-unit-rem(10px) !important;
  }
  .font-white {
    color: #fff;
  }
  .font-black {
    color: #111210;
  }
  .font-bold {
    font-weight: bold;
  }
  .color-444 {
    color: #444444
  }
  .color-646464 {
    color: #646464
  }
  .color-B2B2B2 {
    color: #B2B2B2;
  }
  .color-E9E9E9 {
    color: #E9E9E9;
  }
  .color-44CED3 {
    color: #44CED3 !important;
  }
  .color-8ADEFF {
    color: #8adeff !important;
  }
  .center-align {
    text-align: center !important;
  }
  .no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .padding-left-30 {
    padding-left: calc-unit-rem(30px);
  }
  .padding-right-30 {
    padding-right: calc-unit-rem(30px);
  }
  .margin-top-15 {
    margin-top: calc-unit-rem(15px);
  }
  .margin-top-20 {
    margin-top: calc-unit-rem(20px);
  }
  .margin-top-25 {
    margin-top: calc-unit-rem(25px);
  }
  .margin-top-30 {
    margin-top: calc-unit-rem(30px);
  }
  .margin-top-35 {
    margin-top: calc-unit-rem(35px);
  }
  .margin-top-40 {
    margin-top: calc-unit-rem(40px);
  }
  .margin-top-50 {
    margin-top: calc-unit-rem(50px);
  }
  .margin-top-60 {
    margin-top: calc-unit-rem(60px);
  }
  .margin-top-70 {
    margin-top: calc-unit-rem(70px);
  }
  .margin-top-80 {
    margin-top: calc-unit-rem(80px);
  }
  .margin-top-90 {
    margin-bottom: calc-unit-rem(90px);
  }
  .margin-top-100 {
    margin-bottom: calc-unit-rem(100px);
  }
  .margin-top-150 {
    margin-bottom: calc-unit-rem(150px);
  }
  .margin-bottom-15 {
    margin-bottom: calc-unit-rem(15px);
  }
  .margin-bottom-20 {
    margin-bottom: calc-unit-rem(20px) !important;;
  }
  .margin-bottom-25 {
    margin-bottom: calc-unit-rem(25px);
  }
  .margin-bottom-30 {
    margin-bottom: calc-unit-rem(30px);
  }
  .margin-bottom-35 {
    margin-bottom: calc-unit-rem(35px);
  }
  .margin-bottom-40 {
    margin-bottom: calc-unit-rem(40px);
  }
  .margin-bottom-50 {
    margin-bottom: calc-unit-rem(50px) !important;
  }
  .margin-bottom-60 {
    margin-bottom: calc-unit-rem(60px) !important;
  }
  .margin-bottom-70 {
    margin-bottom: calc-unit-rem(70px) !important;;
  }
  .margin-bottom-80 {
    margin-bottom: calc-unit-rem(80px) !important;;
  }
  .margin-bottom-90 {
    margin-bottom: calc-unit-rem(90px) !important;
  }
  .margin-bottom-100 {
    margin-bottom: calc-unit-rem(100px) !important;
  }

  /* ---- Common Components ---- */

  /* BUTTONS */

  .maxst_button_trans {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    padding: 0.57rem 2.5rem;
    color: #00c3b3;
    border: solid 1px #00c3b3;
    border-radius: 0;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background-color: #00c3b3;
      color: #fff;
      text-decoration: none;
    }
  }
  .maxst_button_white {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    padding: 0.57rem 2.5rem;
    color: #00c3b3;
    border: solid 1px #00c3b3;
    border-radius: 0;
    cursor: pointer;
    background-color: #fff;
    &:hover {
      background-color: #00c3b3;
      color: #fff;
      text-decoration: none;
    }
  }
  .maxst_button_mint {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    padding: 0.57rem 2.5rem;
    border: solid 1px $mint;
    border-radius: 0;
    cursor: pointer;
    color: #fff;
    background-color: $mint;
    &:hover {
      color: $mint;
      background-color: #fff;
    }
    &.loading {
      color: transparent;
      &:hover {
        background-color: $mint;
      }
      &::before {
        content:'';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: calc(50% - 4px);
        left: 0;
        animation: btnLoading 2s infinite ease;
      }
    }
  }
  @keyframes btnLoading {
    0% {
      left: 30%;
    }
    50% {
      left: 70%;
    }
    100% {
      left: 30%;
    }
  }
  .maxst_button_white.mint {
    color: $mint;
    border: solid 1px $mint;
  }
  .maxst_button_white.light-mint {
    color: #a9eae7;
    border: solid 1px #a9eae7;
  }
  .maxst_button_white.light-mint:hover {
    color: #fff;
    background-color: #a9eae7;
  }
  .maxst_button_white.mint {
    color: $mint;
    border: solid 1px $mint;
  }
  .maxst_button_white.mint:hover {
    color: #fff;
    background-color: $mint;
  }
  .maxst_button_white.light-sky {
    color: $light-sky;
    border: solid 1px $light-sky;
  }
  .maxst_button_white.light-sky:hover {
    color: #fff;
    background-color: $light-sky;
  }

  .maxst_button_white__width-420 {
    display: inline-block;
    width: 100%;
    height: calc-unit-rem(270px);
    background-color: #fff;
    border: solid 5px #94e5e1;
    text-align: left;
    color: #94e5e1;
    padding: 0.714rem;
    cursor: pointer;
  }
  .maxst_button_white__width-420:hover {
    background-color: #94e5e1;
    color: #FFF;
  }
  .maxst_button_white__width-420.border-sky {
    color: #8adeff;
    border-color: #8adeff;
  }
  .maxst_button_white__width-420.border-sky:hover{
    background-color: #8adeff;
    color: #FFF;
  }
  .maxst_button_white__width-420.border-green {
    color: #44ced3;
    border-color: #44ced3;
  }
  .maxst_button_white__width-420.border-green:hover{
    background-color: #44ced3;
    color: #FFF;
  }
  .maxst_button_white__width-420 .btn_icon {
    font-size: calc-unit-rem(30px);
    text-align: right;
  }

  .maxst_button_white__width-420  .btn_text {
    position: relative;
    &:before {
      content:'';
      //display: inline-block;
      //height: calc-unit-rem(150px);
      //width: 1%;
      //vertical-align: middle;

      @media screen and (max-width: 700px) {
        width: 0%;
      }
    }
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;
      font-size: calc-unit-rem(32px);
      margin: calc-unit-rem(10px);
 //    max-width: 320px;
    }
  }
  /* END BUTTONS  */

  /* Lines */
  .bottom-line {
    display: inline-block;
    font-size: calc-unit-rem(64px);
    border-bottom: 3px solid $white;
  }
  /* TEXT BOXS */
  .text_box_v_1 {
    width: 100%;
    height: 100%;
    .title {
      text-align:inherit;
      font-size: calc-unit-rem(50px);
      color: #94e5e1;
    }
    .content {
      text-align:inherit;
      line-height: 1.6;
      color: #444444;
      font-size: calc-unit-rem(20px);
      margin-bottom: calc-unit-rem(20px);
    }
    @media (max-width: 700px) {
      text-align: center !important;
    }
  }

  .text_box_v_2 {
    position:  relative;
    padding:  3.57rem calc-unit-rem(0px);
    text-align: center;
  }
  .text_box_v_2::before {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    display:block;
    content:'';
    width: 9.78rem;
    height: 0.74rem;
    background-color: #44ced3;

  }
  .text_box_v_2 .title {
    margin-bottom: 3.57rem;
    color: #2f2f2f;
    font-size: calc-unit-rem(20px);
  }
  .icon_box_v_1 {
    text-align: center;
    padding-left: calc-unit-rem(70px);
    padding-right: calc-unit-rem(70px);
  //  max-width: 14.28rem;
  }
  .icon_box_v_1 .title{
    font-weight: bold;
    margin: 0.71rem 0;
  }
  .icon_box_v_1 .content{
    text-align: center;
    line-height: 1.71;
    letter-spacing: 0.1px;
    margin-bottom: 2.14rem;
  }
  .icon_box_v_2 {
    text-align: center;
    padding-left: calc-unit-rem(8px);
    padding-right: calc-unit-rem(8px);
  }
  .icon_box_v_2 .title{
    font-weight: bold;
    margin: 0.71rem 0;
  }
  .icon_box_v_2 .content{
    text-align: center;
    line-height: 1.71;
    letter-spacing: 0.1px;
    margin-bottom: 2.14rem;
  }

  /* END BOXS */

  /*---- Animation ----*/

  /* 애니메이션 진입 및 진출은 다른 지속 시간 및  */
  /* 타이밍 기능을 사용할 수 있습니다. */
  //.slide-fade-enter-active {
  //  transition: all .3s ease;
  //}
  //.slide-fade-leave-active {
  //  transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  //}
  //.slide-fade-enter, .slide-fade-leave-to
  //  /* .slide-fade-leave-active below version 2.1.8 */ {
  //  transform: translateX(10px);
  //  opacity: 0;
  //}

}

/* MATERIALIZE CUSTOM */
#sidenav-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1 !important;
}
/* END MATERIALIZE CUSTOM */

/* AUTO SCROLL TOP */

.home-scroll-top {
  position:fixed;
  font-size: 30px;
  bottom:50px;
  right:100px;
  z-index:9999;
  color: #2f2f2f;
  background: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border:1px solid #646464;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus {
    background-color: $mint;
    color: $white;
    border-color: $mint;
  }
}
.home-scroll-top:hover {
  border-color: $mint;
  background: $mint;
  color: $white;
}
