
// 전역 변수 선언
//COLOR
$transparent: rgba(255, 255, 255, 0);
$white: #fff;
$mint: #44ced3;
$light-sky: #8adeff;
$light-mint: #94e5e1;
$black: #2f2f2f;
$grey: #ececec;
$tab-color: $mint;

// size
$font-standard: 14px;

// function
@function calc-unit-rem ($target) {
  @return ($target / $font-standard)+rem;
}
//Mixin
@mixin setFontSizeAndLine ($size, $lineHeight) {
  font-size: calc-unit-rem($size);
  line-height: $lineHeight;
}
