@import '../../setting';

#app {
  .aboutus-container {
    .aboutus-main {
      display: flex;
      align-items: flex-end;
      background:url(../../assets/images/maintopimg_05_aboutus.jpg) 50% 50% no-repeat fixed;
      background-size: cover;
      max-height: calc-unit-rem(640px);
      @media screen and (max-width: 700px){
        background-attachment: scroll !important;
      }
    }
    .section_wrap{
      background-size: contain;
      background-repeat: no-repeat;
    }
    .section_wrap.section-A {
      background-image: url(../../assets/images/01-aboutus-01.svg);
    }
    .section_wrap.section-B {
      background-image: url(../../assets/images/01-aboutus-02.svg);
    }
    .section_wrap.section-C {
      background-image: url(../../assets/images/01-aboutus-03.svg);
    }
    .section_wrap.section-D {
      background-image: url(../../assets/images/01-aboutus-04.svg);
    }
    .aboutus-section {
      margin-bottom: calc-unit-rem(100px);
      h1 {
        text-transform: uppercase;
      }
      h3 {
        max-width: calc-unit-rem(1050px);
        margin-left: auto;
        margin-right: auto;
      }
      .aboutus-section__button {
        text-align: center;
      }
      .icon_box_v_1 {
        padding-left: calc-unit-rem(50px);
        padding-right: calc-unit-rem(50px);
      }

      .aboutus-create {
        max-width: calc-unit-rem(1000px);

        .aboutus-create__header {
          text-align: center;
          h3 {
            color: $white;
            display: inline-block;
            width: calc-unit-rem(170px);
            padding: calc-unit-rem(5px);
            background-color: $light-sky;
          }
        }
        .aboutus-create__content {
          border: 4px solid $light-sky;
          padding: calc-unit-rem(40px) calc-unit-rem(20px);

          .aboutus-create__colunm {
            padding-left: calc-unit-rem(35px);
            padding-right: calc-unit-rem(35px);
            h4 {
              font-weight: bold;
              text-align: center;
            }
          }
        }
      }
    }

    #svg-time-line {
      margin: 0 auto;
      max-width: 950px;
      .st0{
        fill:none;
        stroke:#b2b2b240;
        stroke-width:5;
        stroke-linecap:round;
        stroke-linejoin:round;
      }
      .st1{fill:$grey;}
      .st2{
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
      }
      .st3{font-size:42px;}
      .st4{fill:#b2b2b240;}
      .st6{font-size:14px;}
      .st7{fill:none;}

      svg {
        position: relative;
        margin: 0 auto;
        width: 100%;
        //height: auto;
        @media screen and (max-width: 700px) {
          height: 650px;
        }
        #Page-1 path {
          stroke-dasharray:0.1,20;
        }
        #Page-2 path{
          stroke: $mint;
          stroke-width: 5px;
          stroke-dasharray:3284.87;
          stroke-dashoffset:3284.87;

          &.active-1 {
            animation: dash-path1 1s linear forwards;
            ~ #Year-2010 {
              animation: color .2s linear forwards, fontScale .5s ease forwards;
            }
            ~ .text-group #text-2010 {
              tspan {
                animation: color .2s linear forwards;
              }
            }
            ~ #Year-2011 {
              animation: color .2s linear forwards, fontScale .5s ease forwards;
              animation-delay: 0.8s;
            }
            ~ .text-group #text-2011 {
              tspan {
                animation: color .2s linear forwards;
                animation-delay: 0.8s;
              }
            }
            &.active-2 {
              animation: dash-path2 1s linear forwards;
              ~ #Year-2012 {
                animation: color .2s linear forwards, fontScale .5s ease forwards;
                animation-delay: 0.8s;
              }
              ~ .text-group #text-2012 {
                tspan {
                  animation: color .2s linear forwards;
                  animation-delay: 0.8s;
                }
              }
              &.active-3 {
                animation: dash-path3 1s linear forwards;
                ~ #Year-2013 {
                  animation: color .2s linear forwards, fontScale .5s ease forwards;
                  animation-delay: 0.8s;
                }
                ~ .text-group #text-2013 {
                  tspan {
                    animation: color .2s linear forwards;
                    animation-delay: 0.8s;
                  }
                }
                &.active-4 {
                  animation: dash-path4 1s linear forwards;
                  ~ #Year-2014 {
                    animation: color .2s linear forwards, fontScale .5s ease forwards;
                    animation-delay: 0.8s;
                  }
                  ~ .text-group #text-2014 {
                    tspan {
                      animation: color .2s linear forwards;
                      animation-delay: 0.8s;
                    }
                  }
                  &.active-5 {
                    animation: dash-path5 1s linear forwards;
                    ~ #Year-2015 {
                      animation: color .2s linear forwards, fontScale .5s ease forwards;
                      animation-delay: 0.8s;
                    }
                    ~ .text-group #text-2015 {
                      tspan {
                        animation: color .2s linear forwards;
                        animation-delay: 0.8s;
                      }
                    }
                    &.active-6 {
                      animation: dash-path6 1s linear forwards;
                      ~ #Year-2016 {
                        animation: color .2s linear forwards, fontScale .5s ease forwards;
                        animation-delay: 0.8s;
                      }
                      ~ .text-group #text-2016 {
                        tspan {
                          animation: color .2s linear forwards;
                          animation-delay: 0.8s;
                        }
                      }
                      ~ .text-group #text-2016-1 {
                        tspan {
                          animation: color .2s linear forwards;
                          animation-delay: 0.8s;
                        }
                      }
                      &.active-7 {
                        animation: dash-path7 1s linear forwards;
                        ~ #Year-2017 {
                          animation: color .2s linear forwards, fontScale .5s ease forwards;
                          animation-delay: 0.8s;
                        }
                        ~ .text-group #text-2017 {
                          tspan {
                            animation: color .2s linear forwards;
                            animation-delay: 0.8s;
                          }
                        }
                        ~ .text-group #text-2017-1 {
                          tspan {
                            animation: color .2s linear forwards;
                            animation-delay: 0.8s;
                          }
                        }
                        &.active-8 {
                          animation: dash-path8 1s linear forwards;
                          ~ #Year-2018 {
                            animation: color .2s linear forwards, fontScale .5s ease forwards;
                            animation-delay: 0.8s;
                          }
                          ~ .text-group #text-2018 {
                            tspan {
                              animation: color .2s linear forwards;
                              animation-delay: 0.8s;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        @keyframes dash-path1 {
          0% {
            stroke-dashoffset: 3284.87;
          }
          100% {
            stroke-dashoffset: 2866.87;
          }
        }
        @keyframes dash-path2 {
          0% {
            stroke-dashoffset: 2866.87;
          }
          100% {
            stroke-dashoffset: 2626.87;
          }
        }
        @keyframes dash-path3 {
          0% {
            stroke-dashoffset: 2626.87;
          }
          100% {
            stroke-dashoffset: 2180.87;
          }
        }
        @keyframes dash-path4 {
          0% {
            stroke-dashoffset: 2180.87;
          }
          100% {
            stroke-dashoffset: 1780.87;
          }
        }
        @keyframes dash-path5 {
          0% {
            stroke-dashoffset: 1780.87;
          }
          100% {
            stroke-dashoffset: 1550.87;
          }
        }
        @keyframes dash-path6 {
          0% {
            stroke-dashoffset: 1550.87;
          }
          100% {
            stroke-dashoffset: 970.87;
          }
        }
        @keyframes dash-path7 {
          0% {
            stroke-dashoffset: 970.87;
          }
          100% {
            stroke-dashoffset: 440.87;
          }
        }
        @keyframes dash-path8 {
          0% {
            stroke-dashoffset: 440.87;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }
        @keyframes dash {
          0% {
            stroke-dashoffset: 3284.87;
          }
          100% {
            stroke-dashoffset: 0;
          }
        }

        @keyframes color {
          to {
            fill: $black;
          }
        }
        @keyframes fontScale {
          50% {
            font-size: 50px;
          }
          100% {
            font-size: 42px;;
          }
        }
      }
    }
  }
}


