<template>
  <main class="aboutus-container">
    <div class="aboutus-main  page-landing">
      <div class="container">
        <h1 class="left-align margin-bottom-90">
          <typer :content="$t('message.aboutus_content_1')" :preTypeDelay=300 :typeDelay=50 :infinite=false></typer>
        </h1>
      </div>
    </div>
    <div class='section_wrap section-A container-wide' id="aboutus-one">
      <section class="aboutus-section parallax-stagger">
        <div class="container">
          <div class="row">
            <div class="col l7 s12">
              <h1 class="left-align font-55 " v-html="$t('message.aboutus_content_2')">
              </h1>
            </div>
            <div class="col l5 s12">
              <p class="" v-html="$t('message.aboutus_content_2_1')">
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-B container-wide' id="aboutus-two">
      <section class="aboutus-section">
        <div class="container">
          <h1 class="center-align margin-bottom-80 parallax-stagger" v-html="$t('message.aboutus_content_3')">
          </h1>
          <div class="row">
            <div class="col l12">
              <div class="svg-time-line" id="svg-time-line">
                <svg  width="910px" height="1653px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 -30 950 1623" style="enable-background:new 0 0 910 1623;" xml:space="preserve">
                <g id="Page-1" transform="translate(-1 -14)">
                  <path class="st0" d="M326.3,70h330.1v457.6H100.1v321.9h455.8v268.7H286.4v306.2h105v213.9"/>
                </g>
                  <g id="Page-2" transform="translate(-1 -14)">
                  <path class="st0" d="M326.3,70h330.1v457.6H100.1v321.9h455.8v268.7H286.4v306.2h105v213.9"/>
                    <g class="text-group" v-show="$i18n.locale === 'ko'">
                      <text transform="matrix(1 0 0 1 133.5104 888.6053)" id="text-2015"><tspan x="0" y="0" class="st4 st5 st6">끊임없는 연구 개발!</tspan><tspan x="0" y="18" class="st4 st5 st6">MAXST AR SDK 2.0 버전 출시</tspan></text>
                      <text transform="matrix(1 0 0 1 304.0001 562.9894)" id="text-2013"><tspan x="0" y="0" class="st4 st5 st6">SK텔레콤의 T-AR 플랫폼에 맥스트 엔진 탑재</tspan></text>
                      <text transform="matrix(1 0 0 1 285.9712 103.2885)" id="text-2010" class="st4 st5 st6"><tspan x="0" y="0" class="st4 st5 st6">3명의 개척자들 모여 맥스트 건립</tspan> </text>
                      <text transform="matrix(1 0 0 1 677.8741 157.8756)" id="text-2011" class="st4 st5 st6"><tspan x="0" y="0" class="st4 st5 st6">증강현실이라는 단어가 낯설기만 하던 시절 </tspan><tspan x="0" y="18" class="st4 st5 st6">‘증강현실 게임 앱&apos;이라는 부제를 가진 </tspan><tspan x="0" y="36" class="st4 st5 st6">모바일 게임 &lt;시크릿 가든&gt; 출시.</tspan><tspan x="0" y="54" class="st4 st5 st6">&lt;포켓몬 GO&gt;보다 5년이나 빠른 도전,</tspan><tspan x="0" y="72" class="st4 st5 st6">너무 시대를 앞서 갔다</tspan></text>
                      <text transform="matrix(1 0 0 1 677.8741 392.7819)" id="text-2012"><tspan x="0" y="0" class="st4 st5 st6">AR 원천기술 개발에 주력한 결과,</tspan><tspan x="0" y="18" class="st4 st5 st6">국내 최초로 증강현실 소프트웨어 </tspan><tspan x="0" y="36" class="st4 st5 st6">개발 키트를 시장에 내놓음.</tspan><tspan x="0" y="54" class="st4 st5 st6">이후 나오게 될 맥스트의 모든 제품과 </tspan><tspan x="0" y="72" class="st4 st5 st6">솔루션의 근간을 마련하고 증강현실 </tspan><tspan x="0" y="90" class="st4 st5 st6">개발자들에게 첫 인사를 건넨 셈</tspan></text>
                      <text transform="matrix(1 0 0 1 581.8439 899.7496)" id="text-2016"><tspan x="0" y="0" class="st4 st5 st6">현대자동차 제네시스 사용자를 위한 </tspan><tspan x="0" y="18" class="st4 st5 st6">&lt;Genesis Virtual Guide&gt; 글로벌 버전 출시.</tspan><tspan x="0" y="36" class="st4 st5 st6">중동 8개국에서 시작하여 북미, 한국, 러시아까지 </tspan><tspan x="0" y="54" class="st4 st5 st6">지역과 차종을 지속적으로 늘려가고 있다 </tspan></text>
                      <text transform="matrix(1 0 0 1 312.6155 1192.782)" id="text-2017"><tspan x="0" y="0" class="st4 st5 st6">3D 공간 인식 기능까지 갖춘 MAXST AR SDK 3.0 버전 출시. </tspan><tspan x="0" y="18" class="st4 st5 st6">글로벌 AR 플랫폼 시장에서 당당히 경쟁 중</tspan></text>
                      <text transform="matrix(1 0 0 1 312.6155 1297.3862)" id="text-2017-1"><tspan x="0" y="0" class="st4 st5 st6">30억 원의 투자 유치에 또 한 번 성공함으로써 AR 기술 </tspan><tspan x="0" y="18" class="st4 st5 st6">회사로서의 역량과 가능성을 다시 한번 입증하다. </tspan><tspan x="0" y="36" class="st4 st5 st6">축하해요! </tspan></text>
                      <text transform="matrix(1 0 0 1 412.9327 1471.709)" id="text-2018"><tspan x="0" y="0" class="st4 st5 st6">기업형 AR 원격지원 서비스 VIVAR 론칭</tspan></text>
                      <text transform="matrix(1 0 0 1 581.8439 1044.6517)" id="text-2016-1"><tspan x="0" y="0" class="st4 st5 st6">대한민국 창조혁신 대상 수상과 함께 </tspan><tspan x="0" y="18" class="st4 st5 st6">20억 원 투자 유치 성공!</tspan></text>
                      <text transform="matrix(1 0 0 1 123.5105 676.5849)" id="text-2014"><tspan x="0" y="0" class="st4 st5 st6">이미지 인식에서 출발하여 동작 인식 분야까지 섭렵하다,</tspan><tspan x="0" y="18" class="st4 st5 st6">가상 피팅 솔루션 &lt;FANTACLOTH&gt; 출시 </tspan></text>
                    </g>
                    <g class="text-group" v-show="$i18n.locale === 'en'">
                      <text transform="matrix(1 0 0 1 133.5104 888.6053)" id="text-2015"><tspan x="0" y="0" class="st4 st5 st6">Continuous R&amp;D! </tspan><tspan x="0" y="18" class="st4 st5 st6">Released MAXST AR SDK 2.0 version</tspan></text>
                      <text transform="matrix(1 0 0 1 304.0001 562.9894)" id="text-2013"><tspan x="0" y="0" class="st4 st5 st6">SK Telecom&apos;s T-AR platform </tspan><tspan x="0" y="18" class="st4 st5 st6">equipped with the MAXST engine</tspan></text>
                      <text transform="matrix(1 0 0 1 285.9712 103.2885)" id="text-2010" class="st4 st5 st6"><tspan x="0" y="0" class="st4 st5 st6">Three pioneers gather to build Maxst</tspan></text>
                      <text transform="matrix(1 0 0 1 677.8741 157.8756)" id="text-2011" class="st4 st5 st6"><tspan x="0" y="0" class="st4 st5 st6">When the word augmented reality was </tspan><tspan x="0" y="18" class="st4 st5 st6">unfamiliar, it launched a mobile game </tspan><tspan x="0" y="36" class="st4 st5 st6">app &lt;Secret Garden&gt; with a subtitle </tspan><tspan x="0" y="54" class="st4 st5 st6">called &quot;Augmented Reality Game App&quot;, </tspan><tspan x="0" y="72" class="st4 st5 st6">some five years before the launch of </tspan><tspan x="0" y="90" class="st4 st5 st6">&lt;Pokemon GO&gt;. </tspan><tspan x="0" y="108" class="st4 st5 st6">We were a little ahead of time.</tspan></text>
                      <text transform="matrix(1 0 0 1 677.8741 392.7819)" id="text-2012"><tspan x="0" y="0" class="st4 st5 st6">As a result of focusing on AR technology </tspan><tspan x="0" y="18" class="st4 st5 st6">development, we put the AR SDK on the </tspan><tspan x="0" y="36" class="st4 st5 st6">market for the first time in Korea, laying </tspan><tspan x="0" y="54" class="st4 st5 st6">the foundation for all of MAXST&apos;s </tspan><tspan x="0" y="72" class="st4 st5 st6">products and solutions that will emerge </tspan><tspan x="0" y="90" class="st4 st5 st6">and giving the augmented reality </tspan><tspan x="0" y="108" class="st4 st5 st6">developers first greetings.</tspan></text>
                      <text transform="matrix(1 0 0 1 581.8439 899.7496)" id="text-2016"><tspan x="0" y="0" class="st4 st5 st6">Launched &lt;Genesis Virtual Guide&gt;. Starting from </tspan><tspan x="0" y="18" class="st4 st5 st6">eight countries in the Middle East, North America, </tspan><tspan x="0" y="36" class="st4 st5 st6">Korea, and Russia, It has been steadily increasing </tspan><tspan x="0" y="54" class="st4 st5 st6">its regional and vehicle coverage.</tspan></text>
                      <text transform="matrix(1 0 0 1 312.6155 1192.782)" id="text-2017"><tspan x="0" y="0" class="st4 st5 st6">Released MAXST AR SDK 3.0 with 3D spatial </tspan><tspan x="0" y="18" class="st4 st5 st6">recognition, one of the most capable players </tspan><tspan x="0" y="36" class="st4 st5 st6">respected in the global AR platform market</tspan></text>
                      <text transform="matrix(1 0 0 1 312.6155 1297.3862)"id="text-2017-1"><tspan x="0" y="0" class="st4 st5 st6">It proved again its competence and potential </tspan><tspan x="0" y="18" class="st4 st5 st6">as an AR technology company by successfully </tspan><tspan x="0" y="36" class="st4 st5 st6">attracting USD 3 million in investment. </tspan><tspan x="0" y="54" class="st4 st5 st6">Congratulations!</tspan></text>
                      <text transform="matrix(1 0 0 1 412.9327 1471.709)" id="text-2018"><tspan x="0" y="0" class="st4 st5 st6">Launched Enterprise AR Remote Support Service VIVAR</tspan></text>
                      <text transform="matrix(1 0 0 1 581.8439 1044.6517)"id="text-2016-1"><tspan x="0" y="0" class="st4 st5 st6">Awarded the Grand Prize in the Korea Creative </tspan><tspan x="0" y="18" class="st4 st5 st6">Innovation Award, and successfully attracted </tspan><tspan x="0" y="36" class="st4 st5 st6">USD 2 million in investment!</tspan></text>
                      <text transform="matrix(1 0 0 1 123.5105 676.5849)" id="text-2014"><tspan x="0" y="0" class="st4 st5 st6">Started with image recognition technology </tspan><tspan x="0" y="18" class="st4 st5 st6">but soon expanded its portfolio to embrace </tspan><tspan x="0" y="36" class="st4 st5 st6">motion recognition. </tspan><tspan x="0" y="54" class="st4 st5 st6">Released virtual fitting solution &lt;FANTACLOTH&gt;</tspan></text>
                    </g>
                    <g id="Year-2010" transform="translate(286.000000, 0.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2010</tspan>
                        </text>
                    </g>
                    <g id="Year-2011" transform="translate(562.000000, 131.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2011</tspan>
                        </text>
                    </g>
                    <g id="Year-2013" transform="translate(304.000000, 456.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2013</tspan>
                        </text>
                    </g>
                    <g id="Year-2012" transform="translate(562.000000, 368.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2012</tspan>
                        </text>
                    </g>
                    <g id="Year-2014" transform="translate(0.000000, 652.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2014</tspan>
                        </text>
                    </g>
                    <g id="Year-2015" transform="translate(136.000000, 780.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2015</tspan>
                        </text>
                    </g>
                    <g id="Year-2016" transform="translate(459.000000, 881.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2016</tspan>
                        </text>
                    </g>
                    <g id="Year-2017" transform="translate(181.000000, 1169.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2017</tspan>
                        </text>
                    </g>
                    <g id="Year-2018" transform="translate(282.000000, 1446.000000)" fill="#2F2F2F" font-family="OpenSansCondensed-Bold, Open Sans Condensed" font-size="42" font-style="condensed" font-weight="bold" letter-spacing="0.601999998">
                        <text>
                            <tspan x="0" y="45">2018</tspan>
                        </text>
                    </g>
                    <circle id="Oval-Copy" fill="#2F2F2F" cx="326" cy="70" r="7"></circle>
                    <circle id="Oval-Copy1" fill="#2F2F2F" cx="656" cy="160" r="7"></circle>
                    <circle id="Oval-Copy2" fill="#2F2F2F" cx="656" cy="400" r="7"></circle>
                    <circle id="Oval-Copy3" fill="#2F2F2F" cx="344" cy="529" r="7"></circle>
                    <circle id="Oval-Copy4" fill="#2F2F2F" cx="100" cy="682" r="7"></circle>
                    <circle id="Oval-Copy5" fill="#2F2F2F" cx="175" cy="850" r="7"></circle>
                    <circle id="Oval-Copy6" fill="#2F2F2F" cx="286" cy="1199" r="7"></circle>
                    <circle id="Oval-Copy8" fill="#2F2F2F" cx="556" cy="910" r="7"></circle>
                    <circle id="Oval-Copy7" fill="#2F2F2F" cx="286" cy="1300" r="7"></circle>
                    <circle id="Oval-Copy10" fill="#2F2F2F" cx="391" cy="1475" r="7"></circle>
                    <circle id="Oval-Copy9" fill="#2F2F2F" cx="556" cy="1050" r="7"></circle>
                </g>
                </svg>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
    <div class='section_wrap section-C container-wide' id="aboutus-three">
      <section class="aboutus-section">
        <div class="container">
          <h1 class="center-align margin-bottom-60 parallax-stagger" v-html="$t('message.aboutus_content_4')">
          </h1>
          <div>
            <profile :members="members"></profile>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-D container-wide' id="aboutus-four">
      <section class="aboutus-section">
        <div class="container">
          <h1 class="center-align margin-bottom-80 parallax-stagger" v-html="$t('message.aboutus_content_5')">
          </h1>
          <div class="center-align parallax-stagger">
            <img src="../../assets/images/otherslogo.png" alt="company_logo"/>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import Typer from '../../components/Utilities/Typer/Typer.vue';
  import Profile from '../../components/Utilities/Profile/Profile.vue';
  import 'animation.gsap';
  import 'debug.addIndicators';
  import {TweenMax, TimelineMax, Power1, Bounce} from 'gsap';
  import ScrollMagicFactory from '../../components/Utilities/parallaxWithTweenMax';
  import members from './data.json';

  export default {
    name: 'aboutus',
    metaInfo: {
      title: `Introduction of MAXST's vision and history.`,
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: 'As a AR company, MAXST has launched the MAXST AR SDK, which is the only augmented reality software development kit in Korea, and provides various solutions and services based on the integrated AR technology.' },
        {
          'vmid': 'og:title',
          'property': 'og:title',
          'content': `Introduction of MAXST's vision and history.`,
          'template': chunk => `MAXST | - ${chunk}` // or as string template: '%s - My page'
        },
        {
          'vmid': 'og:description',
          'property': 'og:description',
          'content': 'As a AR company, MAXST has launched the MAXST AR SDK, which is the only augmented reality software development kit in Korea, and provides various solutions and services based on the integrated AR technology.'
        }
      ]
    },
    data () {
      return {
        members: members,
        isMobile: false
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.isMobile = this.$helpers.disableVideoOnMobile();
        const agent = navigator.userAgent.toLowerCase();
        if (this.isMobile === false) {
          ScrollMagicFactory.init();
          this.setScrollMagicAni();
        }
        if (this.isMobile === true || agent.indexOf('msie') > -1 || agent.indexOf('trident') > -1 || agent.indexOf('edge/') > -1) {
          // 모바일 이거나 MS 브라우저 일 경우
          $('#Page-2 path').css({'stroke': '#44ced3', 'stroke-dasharray': 0, 'stroke-dashoffset': 0});
          $('#Page-2 tspan').css({'fill': '#2f2f2f'});
        }
      });
    },
    methods: {
      setScrollMagicAni () {
        // TODO 리팩토링 필요 바빠서 정리 안햇음

        const historyScenes = [
          {
            element: '#Year-2010',
            classToggle: [{ element: '#Page-2 path', className: 'active-1' }]
          },
          {
            element: '#Year-2011',
            classToggle: [{ element: '#Year-2011', className: 'active' }, { element: '#Page-2 path', className: 'active-2' }]
          },
          {
            element: '#Year-2012',
            classToggle: [{ element: '#Page-2 path', className: 'active-3' }]
          },
          {
            element: '#Year-2013',
            classToggle: [{ element: '#Page-2 path', className: 'active-4' }]
          },
          {
            element: '#Year-2014',
            classToggle: [{ element: '#Page-2 path', className: 'active-5' }]
          },
          {
            element: '#Year-2015',
            classToggle: [{ element: '#Page-2 path', className: 'active-6' }]
          },
          {
            element: '#Year-2016',
            classToggle: [{ element: '#Page-2 path', className: 'active-7' }]
          },
          {
            element: '#Year-2017',
            classToggle: [{ element: '#Page-2 path', className: 'active-8' }]
          }
        ];
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        const tl3 = new TimelineMax();
        const tl4 = new TimelineMax();
        tl1.add(TweenMax.from('#aboutus-one', 0.5, {yPercent: 25, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#aboutus-one .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0), 0.3);
        tl2.add(TweenMax.from('#aboutus-two', 1, {yPercent: 10, ease: Power1.easeOut}));
        tl2.add(TweenMax.staggerFrom('#aboutus-two .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.2), 0.3);
        tl3.add(TweenMax.from('#aboutus-three', 3, {y: 200, ease: Power1.easeOut}));
        tl3.add(TweenMax.staggerFrom('#aboutus-three .parallax-stagger', 0.5, {yPercent: 20, autoAlpha: 0.8, scale: 0.98, ease: Bounce.easeOut}, 0.1), 0.3);
        tl4.add(TweenMax.from('#aboutus-four', 1, {yPercent: 30, ease: Power1.easeOut}));
        tl4.add(TweenMax.staggerFrom('#aboutus-four .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0, scale: 0.98, ease: Power1.easeOut}, 0.2), 0.3);
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -150 },
            element: '#aboutus-one',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -150 },
            element: '#aboutus-two',
            tween: tl2
          },
          {
            option: { triggerHook: 0.5, offset: -150 },
            element: '#aboutus-three',
            tween: tl3
          },
          {
            option: { triggerHook: 0.5, offset: -150 },
            element: '#aboutus-four',
            tween: tl4
          }
        ];

        ScrollMagicFactory.createMultipleSceneClassToggle(historyScenes);
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Typer,
      Profile
    }
  }
</script>

<style lang="scss">
  @import "AboutUs.scss";
</style>
