@import '../../setting';

#app {
  .arcollaboration-container {
    .arcollaboration-main {
      background: url(../../assets/images/poster_02_colla.jpg) center no-repeat;
      background-size: cover;
      .video-bg-content {
      }
    }
    .section_wrap{
      background-size: contain;
      background-repeat: no-repeat;
    }
    .section_wrap.section-A {
      background-image: url(../../assets/images/01-ar-colla-01.svg);
    }
    .section_wrap.section-B {
      background-image: url(../../assets/images/01-ar-colla-02.svg);
    }
    .section_wrap.section-C {
      background-image: url(../../assets/images/01-ar-colla-03.svg);
    }
    .section_wrap.section-D {
      background-image: url(../../assets/images/01-ar-colla-04.svg);
    }
    .section_wrap.section-E {
      background-image: url(../../assets/images/01-ar-colla-05.svg);
    }
    .section_wrap.section-F {
      background-image: url(../../assets/images/01-ar-colla-04.svg);
      img {
        vertical-align: middle;
        margin: calc-unit-rem(10px) calc-unit-rem(20px);
      }
      .arcollaboration-section__button {
        span {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    .section_wrap.section-G {
      background-image: url(../../assets/images/01-ar-colla-06.svg);
    }
    .arcollaboration-section {
      margin-bottom: calc-unit-rem(100px);
      h1 {
        text-align: center;
      }
      h3 {
        max-width: calc-unit-rem(1050px);
        margin-left: auto;
        margin-right: auto;
      }
      .svg-userflow {
        max-width: 900px;
      }
      .arcollaboration-section__button {
        text-align: center;
        a {
          margin:calc-unit-rem(10px) calc-unit-rem(35px);
        }
      }
      .icon_box_v_1 {
        padding-left: calc-unit-rem(30px);
        padding-right: calc-unit-rem(30px);
        .content {
          text-align: left;
        }
      }
      .text_box_v_2::before {
        background-color: $light-mint;
      }
      .tab-box {
        h4 {
          color: $light-mint;
          border-color: $light-mint;
        }
        .tab-box__btn-list {
          li{
            &.active, &:hover {
              background-color: $light-mint;
            }
          }
        }
        .tab-box__img {
          border-color: $light-mint;
        }
        .tab-box__content {
          border-color: $light-mint;
        }

        .text_box_v_2::before {
          background-color: #a9eae7;
        }
      }
    }
  }
}


