<template>
  <main class="arcollaboration-container">
    <div class="arcollaboration-main  page-landing">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        poster="../../assets/images/poster_02_colla.jpg"
      >
        <source data-src="https://arplatform.blob.core.windows.net/public/mxtcom/media/main_top_arcolla.mp4" type="video/mp4">
      </video>
      <div class="video-bg-content">
        <div class="container">
          <h1 class="left-align">
            <typer :content="$t('message.arcollaboration_content_1')" :preTypeDelay=500 :typeDelay=50 :infinite=false></typer>
          </h1>
          <p v-html="$t('message.arcollaboration_content_1_1')">
          </p>
        </div>
      </div>
    </div>
    <div class='section_wrap section-A container-wide' id="arcolla-one">
      <section class="arcollaboration-section">
        <div class="container">
          <h1 class="margin-bottom-80 parallax-stagger" v-html="$t('message.arcollaboration_content_2')">
          </h1>
          <div class="center-align parallax-stagger margin-bottom-60">
            <div class="row">
              <div class="col l3 s12">
                <div class="icon_box_v_2 parallax-stagger">
                  <img src="../../assets/images/icon_how_it_works_01.svg" alt="icon">
                  <p class="content font-18" v-html="$t('message.arcollaboration_content_2_1')">
                  </p>
                </div>
              </div>
              <div class="col l3 s12">
                <div class="icon_box_v_2 parallax-stagger">
                  <img src="../../assets/images/icon_how_it_works_02.svg" alt="icon">
                  <p class="content font-18" v-html="$t('message.arcollaboration_content_2_2')">
                  </p>
                </div>
              </div>
              <div class="col l3 s12">
                <div class="icon_box_v_2 parallax-stagger">
                  <img src="../../assets/images/icon_how_it_works_03.svg" alt="icon">
                  <p class="content font-18" v-html="$t('message.arcollaboration_content_2_3')">
                  </p>
                </div>
              </div>
              <div class="col l3 s12">
                <div class="icon_box_v_2 parallax-stagger">
                  <img src="../../assets/images/icon_how_it_works_04.svg" alt="icon">
                  <p class="content font-18" v-html="$t('message.arcollaboration_content_2_4')">
                  </p>
                </div>
              </div>
            </div>
            <!--<img v-show="$i18n.locale === 'ko'" src="../../assets/images/img_colla_svg_userflow_ko.svg" alt="" class="svg-userflow">-->
            <!--<img v-show="$i18n.locale === 'en'" src="../../assets/images/img_colla_svg_userflow_en.svg" alt="" class="svg-userflow">-->
          </div>
          <div class="center-align">
            <img src="../../assets/images/triangle_5.svg" alt="icon">
            <h2 class="font-32 font-bold margin-top-25" v-html="$t('message.arcollaboration_content_2_5')">
            </h2>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-B container-wide' id="arcolla-two">
      <section class="arcollaboration-section">
        <div class="container">
          <h1 class="margin-bottom-50 parallax-stagger" v-html="$t('message.arcollaboration_content_3')">
          </h1>
          <div class="row margin-bottom-60">
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-colla-features-01.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arcollaboration_content_3_1')">
                </h3>
                <p class="content center-align" v-html="$t('message.arcollaboration_content_3_1_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-colla-features-02.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arcollaboration_content_3_2')">
                </h3>
                <p class="content center-align" v-html="$t('message.arcollaboration_content_3_2_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-colla-features-03.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arcollaboration_content_3_3')">
                </h3>
                <p class="content center-align" v-html="$t('message.arcollaboration_content_3_3_1')">
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-C container-wide' id="arcolla-three">
      <section class="arcollaboration-section">
        <div class="container">
          <h1 class="parallax-stagger" v-html="$t('message.arcollaboration_content_4')">
          </h1>
          <small class="center-align margin-bottom-50 parallax-stagger" v-html="$t('message.arcollaboration_content_4_1')">
          </small>
          <div class="center-align parallax-stagger">
            <img src="../../assets/images/img-colla-svg-crossplatformsupport.svg" alt="">
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-D container-wide' id="arcolla-four">
      <section class="arcollaboration-section">
        <div class="container">
          <h1 class=" parallax-stagger" v-html="$t('message.arcollaboration_content_5')">
            KEY FUNCTIONS
          </h1>
          <small class="margin-bottom-50 center-align parallax-stagger" v-html="$t('message.arcollaboration_content_5_1')"></small>
          <div class="row margin-bottom-60">
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-colla-functions-01.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arcollaboration_content_5_2')">
                </h3>
                <p class="content" v-html="$t('message.arcollaboration_content_5_2_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-colla-functions-02.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arcollaboration_content_5_3')">
                </h3>
                <p class="content" v-html="$t('message.arcollaboration_content_5_3_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-colla-functions-03.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arcollaboration_content_5_4')">
                </h3>
                <p class="content" v-html="$t('message.arcollaboration_content_5_4_1')">
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col l4 offset-l2 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-colla-functions-04.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arcollaboration_content_5_5')">
                </h3>
                <p class="content" v-html="$t('message.arcollaboration_content_5_5_1')">
                </p>
              </div>
            </div>
            <div class="col l4 s12">
              <div class="icon_box_v_1 parallax-stagger">
                <img src="../../assets/images/icon-colla-functions-05.svg" alt="icon">
                <h3 class="title" v-html="$t('message.arcollaboration_content_5_6')">
                </h3>
                <p class="content" v-html="$t('message.arcollaboration_content_5_6_1')">
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-E container-wide' id="arcolla-five">
      <section class="arcollaboration-section">
        <div class="container">
          <h1 class="parallax-stagger" v-html="$t('message.arcollaboration_content_6')">
          </h1>
          <small class="center-align margin-bottom-50 parallax-stagger" v-html="$t('message.arcollaboration_content_6_1')">
          </small>
          <div class="arcollaboration-tab-section parallax-stagger">
            <tab-box :content="tabContent" class="tab-light-mint"></tab-box>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-F container-wide' id="arcolla-six">
      <section class="arcollaboration-section">
        <div class="container">
          <h1 class="parallax-stagger" v-html="$t('message.arcollaboration_content_7')">
          </h1>
          <small class="center-align margin-bottom-20 parallax-stagger" v-html="$t('message.arcollaboration_content_7_1')">
          </small>
          <div class="center margin-bottom-50">
            <img src="../../assets/images/logo_epson.jpg" alt="image"/>
            <img src="../../assets/images/logo_odg.jpg" alt="image"/>
          </div>
          <div class="row">
            <div class="col l12 s12">
              <div class="arcollaboration-section__button">
                <span>
                  <a href="https://moverio.epson.com/jsp/pc/pc_application_detail.jsp?pack=com.maxst.vivar.arremote&page=0&key=maxst&cat=&tab=category&device=3" class="waves-effect waves-light maxst_button_white light-mint" target="_blank">
                    Epson Apps Market
                  </a>
                </span>
                <span>
                  <a href="https://www.amazon.com/dp/B07DRBDB7J/ref=cm_sw_r_cp_ep_dp_45YkBbPDMX9SQ" class="waves-effect waves-light maxst_button_white light-mint" target="_blank">
                    ODG AppCenter
                  </a>
                  <p class="font-10" v-html="$t('message.arcollaboration_content_7_2')">
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='section_wrap section-G container-wide' id="arcolla-seven">
      <section class="arcollaboration-section">
        <div class="container">
          <h1 class="margin-bottom-90 parallax-stagger" v-html="$t('message.arcollaboration_content_8')">
          </h1>
          <div class="row">
            <div class="col l6 s12">
              <div class="text_box_v_2 parallax-stagger">
                <h4 class="title" v-html="$t('message.arcollaboration_content_8_1')">
                </h4>
                <a href="https://vivar.me" target="_blank" class="waves-effect waves-light maxst_button_white light-mint">Go to VIVAR</a>
              </div>
            </div>
            <div class="col l6 s12">
              <div class="text_box_v_2 parallax-stagger">
                <h4 class="title" v-html="$t('message.arcollaboration_content_8_2')">
                </h4>
                <router-link :to="'/' + this.$i18n.locale + '/contactus'" class="waves-effect waves-light maxst_button_white light-mint" exact >
                  CONTACT US
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
  import Modal from '../../components/Utilities/Modal/Modal.vue'
  import TabBox from '../../components/Utilities/TabBox/Tabbox.vue';
  import Typer from '../../components/Utilities/Typer/Typer.vue';
  import tabContent from './data.json';
  import {TweenMax, TimelineMax, Power1} from 'gsap';
  import ScrollMagicFactory from '../../components/Utilities/parallaxWithTweenMax';

  export default {
    name: 'ARCollaboration',
    metaInfo: {
      title: 'New concept of augmented reality remote collaboration solution',
      titleTemplate: 'MAXST | %s',
      meta: [
        { name: 'description', content: 'AR COLLABORATION is a seamless remote communication and effective collaboration tool that gives accurate and intuitive help in real time with augmented reality technology.' },
        {
          'vmid': 'og:title',
          'property': 'og:title',
          'content': 'New concept of augmented reality remote collaboration solution',
          'template': chunk => `MAXST | - ${chunk}` // or as string template: '%s - My page'
        },
        {
          'vmid': 'og:description',
          'property': 'og:description',
          'content': 'AR COLLABORATION is a seamless remote communication and effective collaboration tool that gives accurate and intuitive help in real time with augmented reality technology.'
        }
      ]
    },
    data () {
      return {
        showModal: false,
        modalContent: '',
        tabContent: tabContent,
        isMobile: false
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.isMobile = this.$helpers.disableVideoOnMobile();
        if (this.isMobile === false) {
          ScrollMagicFactory.init();
          this.setScrollMagicAni();
        }
      });
    },
    methods: {
      modalActiveFunc (name) {
        this.showModal = true;
        this.modalContent = name;
      },
      setScrollMagicAni () {
        const tl1 = new TimelineMax();
        const tl2 = new TimelineMax();
        const tl3 = new TimelineMax();
        const tl4 = new TimelineMax();
        const tl5 = new TimelineMax();
        const tl6 = new TimelineMax();
        const tl7 = new TimelineMax();
        tl1.add(TweenMax.from('#arcolla-one', 1, {yPercent: 15, ease: Power1.easeOut}));
        tl1.add(TweenMax.staggerFrom('#arcolla-one .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl2.add(TweenMax.from('#arcolla-two', 2, {yPercent: 30, ease: Power1.easeOut}));
        tl2.add(TweenMax.staggerFrom('#arcolla-two .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl3.add(TweenMax.from('#arcolla-three', 2, {yPercent: 30, ease: Power1.easeOut}));
        tl3.add(TweenMax.staggerFrom('#arcolla-three .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl4.add(TweenMax.from('#arcolla-four', 2, {yPercent: 30, ease: Power1.easeOut}));
        tl4.add(TweenMax.staggerFrom('#arcolla-four .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl5.add(TweenMax.from('#arcolla-five', 2, {yPercent: 30, ease: Power1.easeOut}));
        tl5.add(TweenMax.staggerFrom('#arcolla-five .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl6.add(TweenMax.from('#arcolla-six', 2, {yPercent: 30, ease: Power1.easeOut}));
        tl6.add(TweenMax.staggerFrom('#arcolla-six .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        tl7.add(TweenMax.from('#arcolla-seven', 2, {yPercent: 30, ease: Power1.easeOut}));
        tl7.add(TweenMax.staggerFrom('#arcolla-seven .parallax-stagger', 0.5, {yPercent: 30, autoAlpha: 0.8, scale: 0.98, ease: Power1.easeOut}, 0.1), 0.3);
        const scenes = [
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arcolla-one',
            tween: tl1
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arcolla-two',
            tween: tl2
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arcolla-three',
            tween: tl3
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arcolla-four',
            tween: tl4
          },
          {
            option: { triggerHook: 0.5, offset: -200 },
            element: '#arcolla-five',
            tween: tl5
          },
          {
            option: { triggerHook: 0.5, offset: -150 },
            element: '#arcolla-six',
            tween: tl6
          },
          {
            option: { triggerHook: 0.5, offset: -150 },
            element: '#arcolla-seven',
            tween: tl7
          }
        ];
        ScrollMagicFactory.createMultipleSceneWithTween(scenes);
      }
    },
    beforeDestroy () {
      console.log('destroyed')
      if (this.isMobile === false) {
        ScrollMagicFactory.removeAllScene();
      }
    },
    components: {
      Typer,
      Modal,
      TabBox
    }
  }
</script>

<style lang="scss">
  @import "ARCollaboration.scss";
</style>
